<div class="rule-build-item rule-build-item_grey">
  <div class="rule-build-item__content">

    <md-custom-select></md-custom-select>



    <div class="rule-build-item__select">
      <div class="drop-cond">
        <div class="drop-cond__content">
          <div class="drop-cond__head">Select Condition...
            <div class="drop-cond__head-arr">
              <mdc-icon css="ic-select-arr-down" path="ic-select-arr-down"></mdc-icon>
            </div>
          </div>
          <div class="drop-cond__popup">
            <div class="drop-cond__option">
              <div class="drop-cond__sect">
                <div class="drop-cond__param">
                  <div class="drop-cond__param-text">None</div>
                </div>
              </div>
              <div class="drop-cond__sect">
                <div class="drop-cond__param">
                  <div class="drop-cond__param-text">is less than</div>
                </div>
                <div class="drop-cond__param">
                  <div class="drop-cond__param-text">is less than or equal to</div>
                </div>
                <div class="drop-cond__param">
                  <div class="drop-cond__param-text">is greater than</div>
                </div>
                <div class="drop-cond__param">
                  <div class="drop-cond__param-text">is greater than or equal to</div>
                </div>
                <div class="drop-cond__param">
                  <div class="drop-cond__param-icon">
                    <div class="drop-cond__param-text">is between</div>
                    <mdc-icon css="ic-help" path="ic-help"></mdc-icon>
                  </div>
                </div>
              </div>
              <div class="drop-cond__sect">
                <div class="drop-cond__param">
                  <div class="drop-cond__param-text">is equal to</div>
                </div>
                <div class="drop-cond__param">
                  <div class="drop-cond__param-text">is not equal to</div>
                </div>
              </div>
              <div class="drop-cond__sect">
                <div class="drop-cond__param">
                  <div class="drop-cond__param-text">is empty</div>
                </div>
                <div class="drop-cond__param">
                  <div class="drop-cond__param-text">is not empty</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rule-build-item__icon">
    <mdc-icon css="ic-close-circle" path="ic-close-circle"></mdc-icon>
  </div>
</div>
