<div class="edit-categories">
    <section class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-header__wrap">
                        <div class="page-header__content">
                            <div class="page-header__back"><span class="ic-hover">
                                    <svg class="icon ic-back-to-page">
                                        <use xlink:href="/assets/sprites/sprite.svg#ic-back-to-page"></use>
                                    </svg></span></div>
                            <h1>Edit categories</h1>
                            <div class="page-header__text" contenteditable="true">Diagonisis definition (non admission)
                                <div class="info-popup">
                                    <form class="form-site">
                                        <div class="info-popup__top">
                                            <div class="info-popup__head-wrap"><span class="info-popup__head">Categories Description</span><span class="info-popup__option">Optional</span></div>
                                            <div class="info-popup__close">
                                                <svg class="icon ic-close-circle">
                                                    <use xlink:href="/assets/sprites/sprite.svg#ic-close-circle"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="info-popup__content">
                                            <div class="info-popup__fields">
                                                <textarea placeholder="Type a description that will help you understand more about this categorization"></textarea>
                                            </div>
                                        </div>
                                        <div class="info-popup__btn"><a class="btn btn_border btn_small" href="#">Cancel</a>
                                            <input class="btn btn_small" type="submit" value="Apply">
                                        </div>
                                    </form>
                                </div>
                            </div><a href="#">Description</a>
                        </div>
                        <div class="notice">
                            <div class="notice__icon">
                                <svg class="icon ic-bulb">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-bulb"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="info-panel-wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="info-panel">
                        <div class="info-panel__item">
                            <div class="info-panel__title">Environment:</div>
                            <div class="info-panel__val">Sheba Central</div>
                        </div>
                        <div class="info-panel__item">
                            <div class="info-panel__title">Default Category:</div>
                            <div class="info-panel__val">
                                <div class="select select_small">
                                    <div class="select__head">Please Select...
                                        <div class="select__head-arr">
                                            <svg class="icon ic-select-arr-down">
                                                <use xlink:href="/assets/sprites/sprite.svg#ic-select-arr-down"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="select__option">
                                        <div class="select__param">ATC1</div>
                                        <div class="select__param">ATC2</div>
                                        <div class="select__param">ATC3</div>
                                        <div class="select__param">ATC4</div>
                                    </div>
                                </div>
                                <svg class="icon ic-help">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-help"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="info-panel__item">
                            <div class="info-panel__title">Modified:</div>
                            <div class="info-panel__val">Jul 9, 2019</div>
                        </div>
                        <div class="info-panel__item">
                            <div class="info-panel__val">In Use
                                <svg class="icon ic-plug ic-grey">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-plug"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="info-panel__item">
                            <div class="info-panel__title">State:</div>
                            <div class="info-panel__val">Auto-Update
                                <svg class="icon ic-robot ic-grey">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-robot"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="admin-table-wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <table class="admin-table admin-table_white">
                        <thead>
                            <tr class="admin-table__head">
                                <th class="admin-table__item"><span class="admin-table__sort"><span class="admin-table__sort-up"></span><span class="admin-table__sort-down"></span></span>Category Name</th>
                                <th class="admin-table__item d-none d-md-table-cell">Data Sample</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="admin-table__row">
                                <td class="admin-table__item">
                                    <div class="admin-table__name-edit">
                                        <input type="text" value="Original medicine name">
                                    </div>
                                </td>
                                <td class="admin-table__item d-none d-md-table-cell">
                                    <div class="admin-table__data-sample">7070, 5569, 73743
                                    </div>
                                </td>
                            </tr>
                            <tr class="admin-table__row">
                                <td class="admin-table__item">
                                    <div class="admin-table__name-edit">
                                        <input type="text" value="Generic name">
                                    </div>
                                </td>
                                <td class="admin-table__item d-none d-md-table-cell">
                                    <div class="admin-table__data-sample">Lyrica, Meloxicam, Metformin
                                    </div>
                                </td>
                            </tr>
                            <tr class="admin-table__row">
                                <td class="admin-table__item">
                                    <div class="admin-table__name-edit">
                                        <input type="text" value="Mapped ATC code(s)">
                                    </div>
                                </td>
                                <td class="admin-table__item d-none d-md-table-cell">
                                    <div class="admin-table__data-sample">XX,cc099
                                    </div>
                                </td>
                            </tr>
                            <tr class="admin-table__row">
                                <td class="admin-table__item">
                                    <div class="admin-table__name-edit">
                                        <input type="text" value="Manufacturer">
                                    </div>
                                </td>
                                <td class="admin-table__item d-none d-md-table-cell">
                                    <div class="admin-table__data-sample">Sanofi, Novartis, Orion
                                    </div>
                                </td>
                            </tr>
                            <tr class="admin-table__row">
                                <td class="admin-table__item">
                                    <div class="admin-table__name-edit">
                                        <input type="text" value="Type of route">
                                    </div>
                                </td>
                                <td class="admin-table__item d-none d-md-table-cell">
                                    <div class="admin-table__data-sample">IV
                                    </div>
                                </td>
                            </tr>
                            <tr class="admin-table__row">
                                <td class="admin-table__item">
                                    <div class="admin-table__name-edit">
                                        <input type="text" value="Anatomical main group (ATC1)">
                                    </div>
                                </td>
                                <td class="admin-table__item d-none d-md-table-cell">
                                    <div class="admin-table__data-sample">LOREM IPSUM, LOREM
                                    </div>
                                </td>
                            </tr>
                            <tr class="admin-table__row">
                                <td class="admin-table__item">
                                    <div class="admin-table__name-edit">
                                        <input type="text" value="Therapeutic main group (ATC2)">
                                    </div>
                                </td>
                                <td class="admin-table__item d-none d-md-table-cell">
                                    <div class="admin-table__data-sample">Lorem ipsum, lorem
                                    </div>
                                </td>
                            </tr>
                            <tr class="admin-table__row">
                                <td class="admin-table__item">
                                    <div class="admin-table__name-edit">
                                        <input type="text" value="Pharmacological subgroup (ATC3)">
                                    </div>
                                </td>
                                <td class="admin-table__item d-none d-md-table-cell">
                                    <div class="admin-table__data-sample">
                                    </div>
                                </td>
                            </tr>
                            <tr class="admin-table__row">
                                <td class="admin-table__item">
                                    <div class="admin-table__name-edit">
                                        <input type="text" value="Chemical subgroup (ATC4)">
                                    </div>
                                </td>
                                <td class="admin-table__item d-none d-md-table-cell">
                                    <div class="admin-table__data-sample">
                                    </div>
                                </td>
                            </tr>
                            <tr class="admin-table__row">
                                <td class="admin-table__item">
                                    <div class="admin-table__name-edit">
                                        <input type="text" value="Substance (ATC5)">
                                    </div>
                                </td>
                                <td class="admin-table__item d-none d-md-table-cell">
                                    <div class="admin-table__data-sample">Lorem ipsum, lorem
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>