<div [hidden]="!isSaving">Loading...</div>
<div [hidden]="isSaving" class="edit-categories">
    <md-map-category-header #categoryHeader (onChange)="onNameChange($event)" [data]="selectedCategory" pageTitle="Edit categories"></md-map-category-header>
    <md-map-category-info #categoryInfo (onChanges)="onChanges()" (onHeadersChanged)="onHeadersChanged($event)"  [data]="selectedCategory"></md-map-category-info>
    <md-edit-category-table #categoryTable *ngIf="mode==='edit'" [data]="selectedCategory"></md-edit-category-table>
    <md-map-category-table #mapCategoryTable *ngIf="mode==='replace'" [oldCategories]="oldCategories" [data]="selectedCategory"></md-map-category-table>
</div>
<md-page-fotter [hidden]="isSaving"  [isLoading]="isLoading" [isValid]="isValid" (onCancel)="cancel()" (onSave)="save()"></md-page-fotter>

<md-confirm-dialog *ngIf="showChangesConfirm" confirmText="Yes" cancelText="No, stay on page" name="Leaving Categorization Page" subName="Changes you made will be lost."
    subText="Do you wish to leave the page?" text="" (onCancel)="cancelChanges()"
    (onConfirm)="confirmChanges()">
</md-confirm-dialog>