<div class="usage-dashboard" *ngIf="usageRequestService.isLoading">
    <md-usage-header></md-usage-header>
    <md-usage-dashboard-top [pdfDisabled]="currentPage==='activity-per-user'" [selectedUrl]="currentPage"></md-usage-dashboard-top>
    <md-usage-dashboard-info-panel (onInitUsers)="initUsers()"
        [showUsers]="currentPage==='activity-per-user'||currentPage==='table'"
        [hideUsers]="currentPage==='table'"
        [showYears]="currentPage!=='top-10-users'&&currentPage!=='retention'" (onChange)="onChangeInfoPanel($event)">
    </md-usage-dashboard-info-panel>
    <md-usage-report *ngIf="currentPage==='general-usage'"></md-usage-report>
    <md-usage-monthly *ngIf="currentPage==='monthly-activity'"></md-usage-monthly>
    <md-usage-user-activity *ngIf="currentPage==='activity-per-user'"></md-usage-user-activity>
    <md-usage-top *ngIf="currentPage==='top-10-users'"></md-usage-top>
    <md-usage-created *ngIf="currentPage==='created'"></md-usage-created>
    <md-usage-retention *ngIf="currentPage==='retention'"></md-usage-retention>
    <md-usage-table *ngIf="currentPage==='table'"></md-usage-table>
</div>