<div>
    <div class="modal-window__head">
        <ng-template [ngIf]="isEditMode">
            REPLACE CATEGORIZATION
        </ng-template>
        <ng-template [ngIf]="!isEditMode">
            New categorization
        </ng-template>
    </div>
    <div (click)="cancel()" class="modal-window__close ic-hover">
        <mdc-icon path="ic-close"></mdc-icon>
    </div>
    <div *ngIf="isEditMode" class="modal-window__text">Environment: {{source?.domain}}</div>
    <div class="form-site">
        <div class="form-site__fields">
            <div class="form-site__item">
                <div class="form-site__label">Choose File</div>
                <div class="file-upload">
                    <label class="file-upload__content">
                        <input #fileInput (change)="updateFileName($event)" type="file" accept=".csv">
                        <span class="file-upload__btn">Choose File</span><span class="file-upload__name disable">
                            <ng-template [ngIf]="!file">
                                Select a CSV or Excel file
                            </ng-template>
                            <ng-template [ngIf]="file">
                                <div class="file-name">{{file|fileName}}</div>
                            </ng-template>
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-site__item">
                <label class="form-site__label" for="name">Name</label>
                <input type="text" [(ngModel)]="fileName" placeholder="Type categorization name">
            </div>
            <div class="form-site__item">
                <label class="form-site__label" for="desc">Description<span
                        class="form-site__optional">Optional</span></label>
                <textarea [(ngModel)]="description" id="desc"
                    placeholder="Type a description that will help you understand more about this categorization"></textarea>
            </div>
            <div *ngIf="!isEditMode" class="form-site__item">
                <label class="form-site__label" for="project">Environment</label>
                <md-project-combo [project]="project" (onChange)="changedProject($event)"></md-project-combo>
            </div>
            <div class="form-site__item">
                <label class="form-site__label">
                    Default Category
                    <span class="form-site__icon">
                        <svg class="icon ic-help" mdcSvg="ic-help"></svg>
                    </span>
                </label>
                <md-csv-combo (onChange)="changeDefaultCategory($event)" *ngIf="categoryHeaders" [selectUp]="true"
                    [headers]="categoryHeaders"></md-csv-combo>
                <div *ngIf="!categoryHeaders?.length" class="select select_up">
                    <div class="select__head">Select default category...
                        <div class="select__head-arr">
                            <svg class="icon ic-select-arr-down" mdcSvg="ic-select-arr-down">
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-site__btn">
            <button (click)="cancel()" class="btn btn_border">Cancel</button>
            <button (click)="uploadFile($event)" [disabled]="!isValid" [ngClass]="{'btn_disable':!isValid}"
                class="btn">Upload</button>
        </div>
    </div>
</div>