<form [formGroup]="fileSourceForm" (ngSubmit)="saveFileSource()">
  <div class="file-mapping">
    <section class="page-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="page-header__wrap">
              <div class="page-header__content">
                <div class="page-header__back">
                  <!--mdcElementTooltip [stickyToElement]="true" [position]="'bottom'" [mdcTooltip]="'Back to Imported Files'"-->
                  <span class="ic-hover" [routerLink]="'/imported-files'">
                     <mdc-icon [css]="'icon ic-back-to-page'" [path]="'ic-back-to-page'"></mdc-icon>
                  </span>
                  <span class="tooltip tooltip_top">
                     <span class="tooltip__content">Back to Imported Files</span>
                  </span>
                </div>
                <h1>File Mapping</h1>
                <div class="page-header__text" contenteditable="true" formControlName="fileName">

                </div>
              </div>

              <div class="notice" [ngClass]="{'active': legendActive}">
                <div class="notice__icon" (click)="legendActive = !legendActive">
                  <mdc-icon [path]="'ic-bulb'" [css]="'ic-bulb'"></mdc-icon>
                </div>
                <div class="notice-popup">
                  <div class="notice-popup__text">Define which fields to import, their data type, and relevant available hierarchies.<span class="notice-popup__more">Show more</span></div>
                  <div class="notice-popup__content">
                    <div class="notice-popup__head">Legend</div>
                    <div class="notice-popup-info">
                      <div class="notice-popup-info__col">
                        <div class="notice-popup-info__item">
                          <div class="notice-popup-info__val notice-popup-info__val_big">
                            <div class="progress">
                              <div class="progress__bg"></div>
                              <div class="progress__text">0%</div>
                            </div>
                          </div>
                          <div class="notice-popup-info__text">0% Match</div>
                        </div>
                        <div class="notice-popup-info__item">
                          <div class="notice-popup-info__val notice-popup-info__val_big">
                            <div class="progress progress_red">
                              <div class="progress__bg" style="width: 25%"></div>
                              <div class="progress__text">25%</div>
                            </div>
                          </div>
                          <div class="notice-popup-info__text">1%-49% Match</div>
                        </div>
                        <div class="notice-popup-info__item">
                          <div class="notice-popup-info__val notice-popup-info__val_big">
                            <div class="progress progress_yellow">
                              <div class="progress__bg" style="width: 50%"></div>
                              <div class="progress__text">50%</div>
                            </div>
                          </div>
                          <div class="notice-popup-info__text">50-74% Match</div>
                        </div>
                        <div class="notice-popup-info__item">
                          <div class="notice-popup-info__val notice-popup-info__val_big">
                            <div class="progress progress_green">
                              <div class="progress__bg" style="width: 75%"></div>
                              <div class="progress__text">75%</div>
                            </div>
                          </div>
                          <div class="notice-popup-info__text">75-100% Match</div>
                        </div>
                      </div>
                      <div class="notice-popup-info__col">
                        <div class="notice-popup-info__item">
                          <div class="notice-popup-info__val">
                            <mdc-icon path="ic-numeric" css="ic-numeric"></mdc-icon>
                          </div>
                          <div class="notice-popup-info__text">Numeric</div>
                        </div>
                        <div class="notice-popup-info__item">
                          <div class="notice-popup-info__val">
                            <mdc-icon path="ic-textual" css="ic-textual"></mdc-icon>

                          </div>
                          <div class="notice-popup-info__text">String</div>
                        </div>
                        <div class="notice-popup-info__item">
                          <div class="notice-popup-info__val">
                            <mdc-icon path="ic-calendar" css="ic-calendar"></mdc-icon>
                          </div>
                          <div class="notice-popup-info__text">Date</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="notice-popup__footer">
                    <div class="notice-popup-link"><a class="notice-popup-link__item" href="#"><span class="notice-popup-link__text">View tutorials</span>
                      <mdc-icon css="ic-view-tutorials" path="ic-view-tutorials"></mdc-icon>
                      </a><a class="notice-popup-link__item" href="#"><span class="notice-popup-link__text">Additional help</span>
                      <mdc-icon css="ic-add-help" path="ic-add-help"></mdc-icon>
                      </a><a class="notice-popup-link__item" href="#"><span class="notice-popup-link__text">Live help</span>
                      <mdc-icon css="ic-live-help" path="ic-live-help"></mdc-icon>
                      </a></div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="info-panel-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="info-panel">
              <div class="info-panel__item">
                <div class="info-panel__title">Environment:</div>
                <div class="info-panel__val">{{ fileSource.projectObj.projectName }}</div>
              </div>
              <div class="info-panel__item">
                <div class="info-panel__val" [formGroup]="fileSourceForm">
                  <md-share-file formControlName="fileType"></md-share-file>
                </div>
              </div>
              <div class="info-panel__item">
                <div class="info-panel__title">Template:</div>
                <div class="info-panel__val">
                  <mdc-select [ngClass]="{'error': (!fileSourceForm.valid && showErrors)}" [isSmall]="true" [applyWidth]="false" [options]="templateSelectOptions"
                              placeholder="Please Select..."
                              formControlName="templateId"></mdc-select>
                </div>
              </div>
              <div class="info-panel__item">
                <div class="info-panel__title">Modified:</div>
                <div class="info-panel__val">{{ fileSource.insertDate | date }}</div>
              </div>
              <div class="info-panel__item info-panel__item_no-indent">
                <div class="info-panel__title">Columns:</div>
                <div class="info-panel__val">{{fileSource.columnsNum}}</div>
              </div>
              <div class="info-panel__item">
                <div class="info-panel__title">Rows:</div>
                <div class="info-panel__val">{{fileSource.rowsNum}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="admin-table-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="admin-table-wrap__action">
              <div class="admin-table-wrap__col"></div>
              <div class="admin-table-wrap__col">

              </div>
            </div>
            <table class="admin-table admin-table_white">
              <thead>
              <tr class="admin-table__head">
                <th class="admin-table__item d-none d-md-table-cell admin-table__item_check">
                  <div class="input-check">
                    <input id="paramall" [formControl]="selectAll" type="checkbox" name="paramall">
                    <label class="input-check__label" for="paramall">
                          <span class="input-check__mark">
                            <mdc-icon [path]="'ic-check'" [css]="'ic-check'"></mdc-icon>
                          </span>
                    </label>
                  </div>
                </th>
                <th class="admin-table__item admin-table__item_name-edit">
                  Column Name
                </th>
                <th class="admin-table__item admin-table__item_center d-none d-md-table-cell">
                  Data Type
                </th>
                <th class="admin-table__item d-none d-md-table-cell admin-table__item_select">
                  Associated Hierarchy
                  <span class="admin-table__option">Optional</span>
                </th>
                <th class="admin-table__item admin-table__item_center d-none d-xl-table-cell">% Match</th>
                <th class="admin-table__item d-none d-xl-table-cell admin-table__item_data-sample">Data Sample</th>
              </tr>
              </thead>
              <tbody>


              <ng-container formArrayName="fileClms">
                <tr class="admin-table__row" [formGroupName]="i"
                    *ngFor="let clm of fileSourceForm.get('fileClms')['controls']; let i = index">
                  <td class="admin-table__item d-none d-md-table-cell">
                    <mdc-check-box [text]="''" formControlName="isIncluded"></mdc-check-box>
                  </td>
                  <td class="admin-table__item">
                    <div class="admin-table__name-edit">
                      <input type="text" formControlName="fieldName">
                    </div>
                  </td>
                  <td class="admin-table__item admin-table__item_center d-none d-md-table-cell">
                    <md-clm-type-switcher formControlName="propertyType"></md-clm-type-switcher>
                  </td>
                  <td class="admin-table__item d-none d-md-table-cell">
                    <div class="select select_small"
                         *ngIf="this.fileSourceForm.get('fileClms')['controls'][i].get('propertyType').value === propertyType.String">
                      <mdc-select formControlName="hierarchyRootId" [placeholder]="'Select Categorization...'"
                                  (changed)="getRelationalIntegrity($event, i)" [options]="hierarchySelectOptions"
                                  [isSmall]="true" [applyWidth]="false"></mdc-select>
                    </div>
                  </td>
                  <td class="admin-table__item admin-table__item_center d-none d-xl-table-cell">
                    <ng-container *ngIf="this.fileSourceForm.get('fileClms')['controls'][i].get('percent').value>-1">
                      <mdc-progress-match
                        [percentage]="this.fileSourceForm.get('fileClms')['controls'][i].get('percent').value"></mdc-progress-match>
                    </ng-container>
                  </td>
                  <td class="admin-table__item d-none d-xl-table-cell" #div>
                    <div class="admin-table__data-sample" *ngIf="!needTooltip(div) else needToolTip">
                      {{fileSourceForm.get('fileClms')['controls'][i].get('dataSample').value | DataSample}}
                    </div>
                    <ng-template #needToolTip>
                      <div class="admin-table__data-sample"
                           [stickyToElement]="true"
                           position="left"
                           [mdcTooltip]="fileSourceForm.get('fileClms')['controls'][i].get('dataSample').value | DataSample">
                        {{ fileSourceForm.get('fileClms')['controls'][i].get('dataSample').value | DataSample}}
                      </div>
                    </ng-template>
                  </td>
                </tr>
              </ng-container>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>

  <footer class="footer-wrap">
    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="footer__btn">
              <button class="btn btn_border" (click)="cancel()">Cancel</button>
              <button type="submit" class="btn">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</form>
