<mdc-toaster [type]="4" [text]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.'" [title]="'What is Lorem Ipsum?'"></mdc-toaster>

<form [formGroup]="fileSourceForm" (ngSubmit)="saveFileSource()">
  <div class="file-mapping">
    <section class="page-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="page-header__wrap">
              <div class="page-header__content">
                <div class="page-header__back">
                  <!--mdcElementTooltip [stickyToElement]="true" [position]="'bottom'" [mdcTooltip]="'Back to Imported Files'"-->
                  <span class="ic-hover" [routerLink]="'/imported-files'">
                     <mdc-icon [css]="'icon ic-back-to-page'" [path]="'ic-back-to-page'"></mdc-icon>
                  </span>
                  <span class="tooltip tooltip_top">
                     <span class="tooltip__content">Back to Imported Files</span>
                  </span>
                </div>
                <h1>File Mapping</h1>
                <div class="page-header__text" contenteditable="true" formControlName="fileName">

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="info-panel-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="info-panel">
              <div class="info-panel__item">
                <div class="info-panel__title">Environment:</div>
                <div class="info-panel__val">{{ fileSource.projectObj.projectName }}</div>
              </div>
              <div class="info-panel__item">
                <div class="info-panel__val">
                  <div class="info-panel__shared" [ngClass]="{active: opened}">Shared
                    <mdc-icon [path]="'ic-shared'" [css]="'icon ic-shared'" (click)="toggleShare()"></mdc-icon>

                    <div class="info-popup">
                      <form class="form-site">
                        <div class="info-popup__top">
                          <div class="info-popup__head-wrap"><span class="info-popup__head">File Sharing</span>
                          </div>
                          <div class="info-popup__close">
                            <mdc-icon [path]="'ic-close-circle'" [css]="'icon ic-close-circle'"
                                      (click)="toggleShare()"></mdc-icon>
                          </div>
                        </div>
                        <div class="info-popup__content">
                          <div class="info-popup-switch">
                            <div class="info-popup-switch__content">
                              <div class="info-popup-switch__text-wrap">
                                <div class="info-popup-switch__title">File is not shared.</div>
                                <div class="info-popup-switch__text">When a file is shared everyone can see and use
                                  it.
                                </div>
                              </div>
                            </div>
                            <div class="switch" [formGroup]="fileSourceForm">
                              <input type="checkbox" id="switch10" formControlName="fileType">
                              <label class="switch__content" for="switch10">
                                <div class="switch__marker"></div>
                                <div class="switch__on">Yes</div>
                                <div class="switch__off">No</div>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="info-popup__btn">
                          <button class="btn btn_border btn_small" (click)="toggleShare()">Cancel</button>
                          <button class="btn btn_small" type="submit" (click)="toggleShare()">Apply</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="info-panel__item">
                <div class="info-panel__title">Template:</div>
                <div class="info-panel__val">
                  <mdc-select [isSmall]="true" [applyWidth]="false" [options]="templateSelectOptions"
                              formControlName="templateId"></mdc-select>
                </div>
              </div>
              <div class="info-panel__item">
                <div class="info-panel__title">Modified:</div>
                <div class="info-panel__val">{{ fileSource.insertDate | date }}</div>
              </div>
              <div class="info-panel__item info-panel__item_no-indent">
                <div class="info-panel__title">Columns:</div>
                <div class="info-panel__val">{{fileSource.columnsNum}}</div>
              </div>
              <div class="info-panel__item">
                <div class="info-panel__title">Rows:</div>
                <div class="info-panel__val">{{fileSource.rowsNum}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="admin-table-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="admin-table-wrap__action">
              <div class="admin-table-wrap__col"></div>
              <div class="admin-table-wrap__col">

              </div>
            </div>
            <table class="admin-table admin-table_white">
              <thead>
              <tr class="admin-table__head">
                <th class="admin-table__item d-none d-md-table-cell admin-table__item_check">
                  <div class="input-check">
                    <input id="paramall" type="checkbox" name="paramall">
                    <label class="input-check__label" for="paramall">
                          <span class="input-check__mark">
                            <mdc-icon [path]="'ic-check'" [css]="'ic-check'"></mdc-icon>
                          </span>
                    </label>
                  </div>
                </th>
                <th class="admin-table__item admin-table__item_name-edit">
                  Column Name
                </th>
                <th class="admin-table__item admin-table__item_center d-none d-md-table-cell">
                  Data Type
                </th>
                <th class="admin-table__item d-none d-md-table-cell admin-table__item_select">
                  Associated Hierarchy
                  <span class="admin-table__option">Optional</span>
                </th>
                <th class="admin-table__item admin-table__item_center d-none d-md-table-cell">% Match</th>
                <th class="admin-table__item d-none d-lg-table-cell admin-table__item_data-sample">Data Sample</th>
              </tr>
              </thead>
              <tbody>


              <ng-container formArrayName="fileClms">
                <tr class="admin-table__row" [formGroupName]="i"
                    *ngFor="let clm of fileSourceForm.get('fileClms')['controls']; let i = index">
                  <td class="admin-table__item d-none d-md-table-cell">
                    <mdc-check-box [text]="''" formControlName="isIncluded"></mdc-check-box>
                  </td>
                  <td class="admin-table__item">
                    <div class="admin-table__name-edit">
                      <input type="text" formControlName="fieldName">
                    </div>
                  </td>
                  <td class="admin-table__item admin-table__item_center d-none d-md-table-cell">
                    <md-clm-type-switcher formControlName="propertyType"></md-clm-type-switcher>
                  </td>
                  <td class="admin-table__item d-none d-md-table-cell">
                    <div class="select select_small" *ngIf="this.fileSourceForm.get('fileClms')['controls'][i].get('propertyType').value === propertyType.String">
                      <mdc-select formControlName="hierarchyRootId" (changed)="getRelationalIntegrity($event, i)"
                                  [options]="hierarchySelectOptions" [isSmall]="true" [applyWidth]="false"></mdc-select>
                    </div>
                  </td>
                  <td class="admin-table__item admin-table__item_center d-none d-md-table-cell">
                    <ng-container *ngIf="this.fileSourceForm.get('fileClms')['controls'][i].get('percent').value>-1">
                      <mdc-progress-match
                        [percentage]="this.fileSourceForm.get('fileClms')['controls'][i].get('percent').value"></mdc-progress-match>
                    </ng-container>
                  </td>
                  <td class="admin-table__item d-none d-lg-table-cell">
                    <div class="admin-table__data-sample">{{getSampleData(fileSourceForm.get('fileClms')['controls'][i].get('dataSample').value)}}
                      <!--<span class="tooltip">
                        <span class="tooltip__content">
                        {{getSampleData(fileSourceForm.get('fileClms').controls[i].get('dataSample').value)}}
                      </span></span>-->
                    </div>
                  </td>
                </tr>
              </ng-container>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>

  <footer class="footer-wrap">
    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="footer__btn">
              <button class="btn btn_border">Cancel</button>
              <button type="submit" class="btn">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</form>
