<section class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-header__wrap">
                    <div class="page-header__content">
                        <div class="page-header__back">
                            <a routerLink="/categorization">
                                <span class="ic-hover">
                                    <svg class="icon ic-back-to-page" mdcSvg="ic-back-to-page"></svg>
                                </span>
                            </a>
                        </div>
                        <h1>Map categories</h1>
                        <div (input)="hierarchyName=$event.target.innerText" class="page-header__text"
                            contenteditable="true">
                            {{data?.data?.hierarchyName}}
                        </div>
                        <a href="#">Description</a>
                    </div>
                    <div class="notice">
                        <div class="notice__icon">
                            <svg class="icon ic-bulb" mdcSvg="ic-bulb"></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>