<md-page-title>
    <div class="page-header__content">
        <h1>Categorization list</h1>
    </div>
</md-page-title>
<md-page-body>
    <div [hidden]="isLoaded">Loading...</div>
    <div [hidden]="!isLoaded" class="admin-table-wrap__action">
        <div class="admin-table-wrap__col">
            <mdc-button (click)="openUploadNew()" text="+ New Categorization">
            </mdc-button>
        </div>
        <div [hidden]="!isDataExists" class="admin-table-wrap__col">
            <form class="form-search d-none d-md-block">
                <mdc-auto-search pause="500" #search placeholder="{{'search'|translate}}"></mdc-auto-search>
            </form>
        </div>
    </div>
    <div [hidden]="!isDataExists || !isLoaded" class="admin-table-content">
        <mdc-table #table [auto]="true" [dataSource]="dataSource" [rowInfoTemplate]="rowInfoTemplate"
            [cellsTemplate]="{ state:stateColumn,insertDate:dateColumn,inUseColumn:inUseColumn}"
            [searchOptions]="searchOptions" [paginator]="paginator" [search]="search" (onAction)="onAction($event)">
        </mdc-table>
    </div>
    <mdc-empty-state *ngIf="!isDataExists && isLoaded" [emptyState]="emptyState"></mdc-empty-state>
    <div class="pager-wrap" [hidden]="!isLoaded">
        <mdc-paginator #paginator paginationTitle="Showing {0} of {1} categorizations"
            noPagingTitle="Showing {0} categorizations" [blockSize]="3" [pageSize]="12" [currentPage]="0">
        </mdc-paginator>
    </div>
</md-page-body>

<ng-template #dateColumn let-item>
    {{item.insertDate|date}}&nbsp;
    {{item.insertDate|date:'HH:mm'}}
</ng-template>

<ng-template let-item let-src="source" #stateColumn>
    <span *ngIf="src.hierarchyChange && src.hierarchyLoadingType==='etl'" class="admin-table__icon"
        (mouseleave)="item.showWarning=false" (mouseenter)="showInfo($event,item,src)">
        <mdc-icon path="ic-warning"></mdc-icon>
        <div [hidden]="!item.showWarning" class="info-popup info-popup_right warning-info">
            <div class="form-site">
                <div class="info-popup__top">
                    <div class="info-popup__head-wrap"><span class="info-popup__head">Structure Mismatch</span></div>
                    <div (click)="item.showWarning=false" class="info-popup__close">
                        <svg class="icon ic-close-circle" mdcSvg="ic-close-circle"></svg>
                    </div>
                </div>
                <div class="info-popup__content">
                    <div class="info-popup__text-wrap">
                        <div class="info-popup__text">
                            <p>The categorization structure was manually changed and no longer match the previous one.
                            </p>
                            <p>After the issue is fixed by the ETL owner, turn off the toggle below to restart the
                                auto-update.</p>
                        </div>
                    </div>
                    <div class="info-popup-switch">
                        <div class="info-popup-switch__content">
                            <div class="info-popup-switch__text-wrap">
                                <div class="info-popup-switch__title">Hold Automatic loading</div>
                            </div>
                        </div>
                        <div class="switch">
                            <mdc-toggle-button (onChange)="rowStateChange($event)" yes="On" no="Off"
                                [(ngModel)]="currentRow.state">
                            </mdc-toggle-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </span>
    <span *ngIf="!src.hierarchyChange && src.hierarchyLoadingType==='etl'">
        <mdc-icon path="ic-robot"></mdc-icon>
    </span>
    <!-- {{src.hierarchyLoadingType}}
    {{src.hierarchyChange}} -->
</ng-template>

<ng-template let-item let-src="source" #inUseColumn>
    <span *ngIf="src?.siteEventPropertyInfos?.length" class="admin-table__icon" (mouseleave)="item.showUsed=false"
        (mouseenter)="item.showUsed=true">
        <svg class="icon ic-plug ic-grey" mdcSvg="ic-plug"></svg>
        <div [hidden]="!item.showUsed" class="info-popup info-popup_right used-info">
            <div class="info-popup__top">
                <div class="info-popup__head-wrap"><span class="info-popup__head">Used in</span></div>
                <div class="info-popup__close">
                    <svg class="icon ic-close-circle" mdcSvg="ic-close-circle"></svg>
                </div>
            </div>
            <div class="info-popup__content">
                <div class="info-popup__text-wrap">
                    <div class="info-popup__title">Events:</div>
                    <div class="info-popup__text">
                        <ng-container *ngFor="let info of src.siteEventPropertyInfos;let i=index;">
                            {{info.eventPropertyName}}
                            <ng-container *ngIf="i<src.siteEventPropertyInfos.length-1">,</ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </span>
</ng-template>

<mdc-modal-window *ngIf="showUploadFile">
    <md-upload-file [source]="currentSource" (onUpload)="showUploadFile=false" (onCancel)="showUploadFile=false">
    </md-upload-file>
</mdc-modal-window>

<ng-template #rowInfoTemplate let-item>
    <div class="category-info-row">
        <md-category-info #categorizationInfo (onClose)="closeCategoryInfo()" [category]="item.source">
        </md-category-info>
    </div>
</ng-template>