.warning-info{
    width: 295px;
    position:absolute;
    z-index:9;
    margin-left:-280px;
    margin-top:0px !important;
}
.used-info{
    width: 268px;
    position:absolute;
    z-index:9;
    margin-left:-260px;
    margin-top:0px !important;
}
.info-popup__text{
    white-space: normal;
}