<footer class="footer-wrap">
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="footer__btn"><a class="btn btn_border" href="#">Cancel</a>
                        <div class="split-btn split-btn_up disable">
                            <div class="split-btn__title">Next</div>
                            <div class="split-btn__arr">
                                <svg class="icon ic-select-arr-down">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-select-arr-down"></use>
                                </svg>
                            </div>
                            <div class="split-btn__popup">
                                <div class="split-btn__item">Update</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>