.footer__link {
    font-style: normal;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.57;
    color: #5303a8;
    cursor: pointer;
}
.footer__link:hover{
    text-decoration: underline;
}