<footer *ngIf="!isSaveEnable" class="footer-wrap">
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="footer__btn">
                        <span class="btn btn_border" (click)="cancel()">Cancel</span>
                        <div (click)="next(1)" class="split-btn split-btn_up">
                            <div class="split-btn__title">Next</div>
                            <div class="split-btn__arr">
                                <svg class="icon ic-select-arr-down" mdcSvg="ic-select-arr-down"></svg>
                            </div>
                            <div *ngIf="btnOptions?.length" class="split-btn__popup">
                                <ng-container *ngFor="let opt of btnOptions;let i=index">
                                    <div (click)="optionClick(i)"
                                        class="split-btn__item">
                                        {{opt.text}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<footer *ngIf="isSaveEnable" class="footer-wrap">
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="footer__btn">
                        <span class="footer__link" (click)="cancel()">Cancel</span>
                        <span class="footer__btn-big">
                            <span style="margin-left: 20px; margin-right: 20px;" class="footer__link"
                                (click)="next(-1)">Previous</span>
                            <span class="btn btn_border" (click)="save()">Save</span>
                            <span *ngIf="isNextEnable" class="btn"
                                (click)="next(1)">Next</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>