<div class="user-details-main__item">
    <div class="user-details-main__label">
        <span class="user-details-main__label-text">{{label}}</span>
        <span *ngIf="isOptional" class="user-details-main__opt">optional</span>
    </div>
    <div [ngClass]="{'error':isError}" class="user-details-main__field">
        <input (change)="chengeInput()" [(ngModel)]="value" [type]="type" [placeholder]="placeHolder">
        <div [hidden]="!isMissing" class="user-details-main__error">{{missingText}}</div>
    </div>
</div>