<div class="query-flow">
  <section>
    <div class="query-flow-top-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="query-flow-top">
              <div class="query-flow-top__main">
                <div class="query-flow-top__icon" [routerLink]="'/imported-files'"><span class="ic-hover">
                  <mdc-icon path="ic-back-to-page"></mdc-icon>
                </span></div>
                <div class="query-flow-top__title">{{fileSource.fileName}}</div>
              </div>
              <div class="query-flow-top__info">
                <div class="query-flow-top__desc">{{ fileSource.fileNameAlias }}
                </div>
                <div class="query-flow-top__param"><span class="query-flow-top__label">Last Saved:</span> <span
                  class="query-flow-top__text">Jul 9, 2019 17:39</span></div>
                <div class="query-flow-top__save ic-hover">
                  <mdc-icon path="ic-save-def"></mdc-icon>
                  <span class="tooltip tooltip_right"><span class="tooltip__content">Save Query</span></span>
                </div>
                <div class="query-flow-menu disable">
                  <div class="query-flow-menu__btn ic-hover">
                    <mdc-icon path="ic-dot-menu"></mdc-icon>
                  </div>
                  <div class="query-flow-menu__popup">
                    <div class="query-flow-menu__top">
                      <div class="query-flow-menu__sect">
                        <div class="query-flow-menu__item">
                          <div class="query-flow-menu__icon">
                            <mdc-icon path="ic-save-def"></mdc-icon>
                          </div>
                          <div class="query-flow-menu__text">Save</div>
                        </div>
                        <div class="query-flow-menu__item">
                          <div class="query-flow-menu__icon">
                            <mdc-icon path="ic-duplicate"></mdc-icon>
                          </div>
                          <div class="query-flow-menu__text">Duplicate</div>
                        </div>
                      </div>
                      <div class="query-flow-menu__sect">
                        <div class="query-flow-menu__item">
                          <div class="query-flow-menu__icon">
                            <mdc-icon path="ic-share"></mdc-icon>
                          </div>
                          <div class="query-flow-menu__text">Share</div>
                        </div>
                        <div class="query-flow-menu__item">
                          <div class="query-flow-menu__icon">
                            <mdc-icon path="ic-send"></mdc-icon>
                          </div>
                          <div class="query-flow-menu__text">Send</div>
                        </div>
                      </div>
                      <div class="query-flow-menu__sect">
                        <div class="query-flow-menu__item">
                          <div class="query-flow-menu__icon">
                            <mdc-icon path="ic-calculate-cohort-thin"></mdc-icon>
                          </div>
                          <div class="query-flow-menu__text">Recalculate Cohort</div>
                        </div>
                      </div>
                      <div class="query-flow-menu__sect">
                        <div class="query-flow-menu__item disable">
                          <div class="query-flow-menu__icon">
                            <mdc-icon path="ic-quality"></mdc-icon>
                          </div>
                          <div class="query-flow-menu__text">Quality of Care</div>
                        </div>
                      </div>
                    </div>
                    <div class="query-flow-menu__bottom">
                      <div class="query-flow-menu__item">
                        <div class="query-flow-menu__icon">
                          <mdc-icon path="ic-delete"></mdc-icon>
                        </div>
                        <div class="query-flow-menu__text">Delete</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="flow-steps">
            <div class="flow-steps__sect">
              <div class="flow-steps__top">
                <div class="flow-steps__title">Cohort Definition</div>
              </div>
              <div class="flow-steps__list">
                <div class="flow-steps__item">
                  <div class="flow-steps__num">1</div>
                  <div class="flow-steps__val">Reference Event</div>
                  <div class="flow-steps__arr"></div>
                </div>
              </div>
            </div>
            <div class="flow-steps__sect">
              <div class="flow-steps__top">
                <div class="flow-steps__title flow-steps__title_center">Output Definition</div>
              </div>
              <div class="flow-steps__list">
                <div class="flow-steps__item">
                  <div class="flow-steps__num">2</div>
                  <div class="flow-steps__val">Additional Inclusion</div>
                  <div class="flow-steps__arr"></div>
                </div>
                <div class="flow-steps__item">
                  <div class="flow-steps__num">3</div>
                  <div class="flow-steps__val">Time-Related Events</div>
                  <div class="flow-steps__arr"></div>
                </div>
                <div class="flow-steps__item">
                  <div class="flow-steps__num">4</div>
                  <div class="flow-steps__val">Demographics</div>
                  <div class="flow-steps__arr"></div>
                </div>
              </div>
            </div>
            <div class="flow-steps__sect">
              <div class="flow-steps__top">
                <div class="flow-steps__title">Summary Review</div>
              </div>
              <div class="flow-steps__list">
                <div class="flow-steps__item active">
                  <div class="flow-steps__num">5</div>
                  <div class="flow-steps__val">Finalize Cohort &amp; Output</div>
                  <div class="flow-steps__arr"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="query-flow-panel">
          <div class="query-flow-panel__title">Finalize Cohort & Output</div>
          <div class="query-flow-panel-switch">
            <div class="query-flow-panel-switch__label">Synthetic mode</div>
            <div class="switch">
              <input type="checkbox" id="switch1">
              <label class="switch__content" for="switch1">
                <div class="switch__marker"></div>
                <div class="switch__on">On</div>
                <div class="switch__off">Off</div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="admin-table-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="admin-table-wrap__action">
            <form class="form-search d-md-none" [formGroup]="fg">
              <input type="text" placeholder="Search column name…" value="" formControlName="searchInput">
              <button type="submit">
                <mdc-icon path="ic-search"></mdc-icon>
              </button>
              <span class="form-search__close">
                <mdc-icon path="ic-close-small"></mdc-icon>
								<mdc-icon path="ic-close"></mdc-icon>
              </span>
            </form>
            <div class="admin-table-wrap__col"><span class="btn btn_icon">
              <mdc-icon path="ic-filter" css="ic-filter ic-stroke"></mdc-icon>
							  Filter [0]</span>
              <div class="calc-column">
                <div class="calc-column__head">
                  <mdc-icon path="ic-plus" css="ic-plus"></mdc-icon>
                  Calculated Column
                  <mdc-icon path="ic-select-arr-calc" css="ic-select-arr-calc"></mdc-icon>
                </div>
                <div class="calc-column__popup">
                  <div class="calc-column__option">
                    <div class="calc-column__param">
                      <div class="calc-column__icon">
                        <mdc-icon path="ic-custom-epression"></mdc-icon>
                      </div>
                      <div class="calc-column__text">Custom expression</div>
                    </div>
                    <div class="calc-column__param">
                      <div class="calc-column__icon">
                        <mdc-icon path="ic-if-exists" css="ic-if-exists"></mdc-icon>
                      </div>
                      <div class="calc-column__text">If exists (true/false)</div>
                    </div>
                    <div class="calc-column__param">
                      <div class="calc-column__icon">
                        <mdc-icon path="ic-calculation" css="ic-calculation"></mdc-icon>
                      </div>
                      <div class="calc-column__text">2 columns calculation</div>
                    </div>
                    <div class="calc-column__param">
                      <div class="calc-column__icon">
                        <mdc-icon path="ic-function" css="ic-function"></mdc-icon>
                      </div>
                      <div class="calc-column__text">1 columns calculation</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="admin-table-wrap__col">
              <form class="form-search d-none d-md-block" [formGroup]="fg">
                <input type="text" placeholder="Search column name…" formControlName="searchInput">
                <button type="submit">
                  <mdc-icon path="ic-search"></mdc-icon>
                </button>
                <span class="form-search__close">
                  <mdc-icon path="ic-close-small" css="ic-close-small"></mdc-icon>
                  <mdc-icon path="ic-close" css="ic-close"></mdc-icon>
                </span>
              </form>
            </div>
          </div>
          <table class="admin-table admin-table_white">
            <thead>
            <tr class="admin-table__head">
              <th class="admin-table__item admin-table__item_check-full">
                <div class="input-check">
                  <input id="paramall" type="checkbox" name="paramall" checked="checked">
                  <label class="input-check__label" for="paramall"><span class="input-check__mark">
                    <mdc-icon path="ic-check" css="ic-check"></mdc-icon>
                  </span><span class="input-check__text">Column Name<span
                    class="input-check__notice">36 selected of 36</span></span></label>
                </div>
              </th>
              <th class="admin-table__item admin-table__type admin-table__item_center d-none d-md-table-cell">Type</th>
              <th class="admin-table__item d-none d-md-table-cell">Category/Calculated Column</th>
              <th class="admin-table__item admin-table__info admin-table__item_center d-none d-xl-table-cell"></th>
              <th class="admin-table__item admin-table__progress admin-table__item_center d-none d-xl-table-cell">% Full
                <mdc-icon path="ic-info" css="ic-info"></mdc-icon>
              </th>
              <th class="admin-table__item admin-table__item_menu"></th>
            </tr>
            </thead>
            <tbody cdkDropList (cdkDropListDropped)="drop($event)">
            <tr class="admin-table__row" *ngFor="let column of columnCollection | filterColumns" cdkDrag>
              <td class="admin-table__item">
                <div class="admin-table__check">
                  <div class="input-check">
                    <input type="checkbox" name="param_{{column.order}}" [(ngModel)]="column.include" id="param01"
                           checked="checked">
                    <label class="input-check__label" for="param01"><span class="input-check__mark">
                      <mdc-icon path="ic-check" css="ic-check"></mdc-icon>
                    </span></label>
                  </div>
                  <div class="admin-table__name-edit">
                    <input type="text" [(ngModel)]="column.aliasName">
                  </div>
                </div>
              </td>

              <!-- row with type icon starts -->
              <td class="admin-table__item admin-table__item_center d-none d-md-table-cell">
                <mdc-icon path="ic-textual-border" css="ic-textual-border" class="icon"
                          *ngIf="column.rootType === fieldDataType.STRING"></mdc-icon>
                <mdc-icon path="ic-numeric-border" css="ic-numeric-border" class="icon"
                          *ngIf="column.rootType === fieldDataType.NUMERIC"></mdc-icon>
                <mdc-icon path="ic-calendar" css="ic-calendar" class="icon"
                          *ngIf="column.rootType === fieldDataType.DATE"></mdc-icon>
              </td>
              <!--              row with type icon ends-->

              <!--              // col of hierarchy start-->
              <td class="admin-table__item d-none d-md-table-cell">
                <mdc-select [isSmall]="true" [applyWidth]="false" [options]="column.hierarchy | async" *ngIf="column.hierarchyRootId && column.hierarchyRootId > -1"></mdc-select>
              </td>
              <!--              // col of hierarchy end-->

              <th class="admin-table__item admin-table__item_center d-none d-xl-table-cell">
                <span class="admin-table__icon">
                  <mdc-icon path="ic-info" css="ic-info"></mdc-icon>
                </span>
              </th>

              <td class="admin-table__item admin-table__item_center d-none d-xl-table-cell">
                <div class="progress">
                  <div class="progress__bg" style="width: 0%"></div>
                  <div class="progress__text">~0%</div>
                </div>
              </td>
              <td class="admin-table__item admin-table__item_menu">
                <div class="admin-table__content">
                  <div class="admin-table-action"><span class="admin-table-action__menu ic-hover">
                    <mdc-icon path="ic-dot-menu" css="ic-dot-menu"></mdc-icon>
																		<div class="admin-table-popup">
																			<div class="admin-table-popup__top">
																				<div class="admin-table-popup__item">
																					<div class="admin-table-popup__icon">
                                            <mdc-icon path="ic-duplicate"></mdc-icon>
																					</div>
																					<div class="admin-table-popup__text">Duplicate</div>
																				</div>
																				<div class="admin-table-popup__item">
																					<div class="admin-table-popup__icon">
                                            <mdc-icon path="ic-if-exists"></mdc-icon>
																					</div>
																					<div class="admin-table-popup__text">If Exists Conversion</div>
																				</div>
																				<div class="admin-table-popup__item">
																					<div class="admin-table-popup__icon">
                                            <mdc-icon path="ic-filter" css="ic-stroke"></mdc-icon>
																					</div>
																					<div class="admin-table-popup__text">Filter</div>
																				</div>
																			</div>
																		</div></span></div>
                </div>
              </td>
            </tr>
            <div class="custom-placeholder" *cdkDragPlaceholder></div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
<footer class="footer-wrap">
  <div class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="footer__btn"><span class="footer__link" [routerLink]="'/file-source'">Cancel</span>
            <div class="footer-cohort d-none d-lg-inline-flex">
              <div class="footer-cohort__icon">
                <mdc-icon css="ic-cohort" path="ic-cohort"></mdc-icon>
                <!--                <svg class="icon ic-cohort">-->
                <!--                  <use xlink:href="/assets/sprites/sprite.svg#ic-cohort"></use>-->
                <!--                </svg>-->
              </div>
              <div class="footer-cohort__text">
                Cohort: <span class="footer-cohort__num">14,239</span></div>
              <div class="footer-cohort__time">Calculated: May, 17 2020 14:06</div>
            </div>
            <span class="footer__btn-big"><span class="btn btn_border">Previous</span>
										<div class="split-btn split-btn_up">
											<div class="split-btn__title">Download Original</div>
											<div class="split-btn__arr">
                        <mdc-icon path="ic-btn-arr-down" css="ic-btn-arr-down"></mdc-icon>
                        <!--												<svg class="icon ic-btn-arr-down">-->
                        <!--													<use xlink:href="/assets/sprites/sprite.svg#ic-btn-arr-down"></use>-->
                        <!--												</svg>-->
											</div>
											<div class="split-btn__popup">
												<div class="split-btn__item">parameter 1</div>
												<div class="split-btn__item">parameter 2</div>
												<div class="split-btn__item">parameter 3</div>
												<div class="split-btn__item">parameter 4</div>
											</div>
										</div></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
