<section class="graph-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="graph">
                    <div class="graph__top">
                        <div class="graph__head">Newly created user accounts
                        </div>
                    </div>
                    <div class="graph__content">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>