<md-chart-pdf #chartPdf [chart]="chart" [width]="pdfChartWidth" [height]="pdfChartHeight"></md-chart-pdf>

<ng-template #chart>
    <ngx-charts-bar-vertical [showZero]="false" [isRotate]="false" [animations]="false" [roundEdges]="false" [view]="view" [scheme]="colorScheme" [barPadding]="20"
    [results]="dataSource|createdChart" [gradient]="gradient" [xAxis]="showXAxis"
    [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="true"
    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [legend]="false"
    [showDataLabel]="true">
</ngx-charts-bar-vertical>
</ng-template>

<section class="graph-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="graph">
                    <div class="graph__top">
                        <div class="graph__head">Newly created user accounts
                        </div>
                    </div>
                    <div [hidden]="hasData || chartService.isLoading" class="graph-empty">
                        <div class="graph-empty__img"><img src="./assets/images/chart-empty-state.svg" alt=""
                                style="height: 160px;"></div>
                        <div class="graph-empty__text">No data, yet</div>
                    </div>
                    <div [hidden]="!hasData && !chartService.isLoading" class="graph__content">
                        <div [hidden]="!chartService.isLoading">Loading...</div>
                        <div [mdcVisibility]="chartService.isLoaded" class="chart-wraper">
                            <ng-container [ngTemplateOutlet]="chart"></ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>