<div [ngClass]="{'open':isOpen}" class="user-unwrap">
    <md-step3-header (onStateChange)="stateChange()" headerName="Hipaa Safe Harbor Settings"
        toolTipText="A de-identification applied on medical information to safely use it as a health data set">
    </md-step3-header>
    <div class="user-unwrap__content">
        <div class="user-unwrap-param-wrap">
            <div class="user-unwrap__label">Select the items you wish to exclude from the patients’ story:</div>
            <div class="user-unwrap-param">
                <div class="user-unwrap-param__item">
                    <mdc-check-box [(ngModel)]="editPatientService.isPhoneItemChecked"
                        text="Phone numbers according to the selected location:"></mdc-check-box>
                    <mdc-select [(ngModel)]="editPatientService.selectedCountry" [disabled]="!editPatientService.isPhoneItemChecked" [isSmall]="true"
                        [options]="editPatientService.countries"></mdc-select>
                </div>
                <div class="user-unwrap-param__item">
                    <mdc-check-box [(ngModel)]="editPatientService.isZipCodeChecked"
                        text="Postal code (ZIP code) | File last modified: Nov 15, 2018"></mdc-check-box>
                    <div class="user-unwrap-param__icon">
                        <svg class="icon ic-info" mdcSvg="ic-info"></svg>
                        <span class="tooltip tooltip_left">
                            <span class="tooltip__content">
                                A de-identification applied on medical information to safely use it as a health
                                data set
                            </span>
                        </span>
                    </div>
                </div>
                <div class="user-unwrap-param__item">
                    <mdc-check-box [(ngModel)]="editPatientService.isOldPatientsChecked"
                        text="Patients older than 89 years old"></mdc-check-box>
                </div>
                <div class="user-unwrap-param__item">
                    <mdc-check-box [(ngModel)]="editPatientService.isExtraYearsChecked" text="Extra years shifting:">
                    </mdc-check-box>
                    <div class="user-unwrap-param__num">
                        <mdc-select [(ngModel)]="editPatientService.hipaa_date_shift" [disabled]="!editPatientService.isExtraYearsChecked" [isSmall]="true"
                            [options]="years"></mdc-select>
                    </div>
                    <div class="user-unwrap-param__icon">
                        <svg class="icon ic-info" mdcSvg="ic-info"></svg>
                    </div>
                </div>
                <div class="user-unwrap-param__item">
                    <mdc-check-box [(ngModel)]="editPatientService.isEmailChecked" text="Email address"></mdc-check-box>
                </div>
                <div class="user-unwrap-param__item">
                    <mdc-check-box [(ngModel)]="editPatientService.isIpChecked" text="IP address"></mdc-check-box>
                    <div class="user-unwrap-param__icon">
                        <svg class="icon ic-info" mdcSvg="ic-info"></svg>
                    </div>
                </div>
                <div class="user-unwrap-param__item">
                    <mdc-check-box [(ngModel)]="editPatientService.isUrlChecked" text="URL"></mdc-check-box>
                    <div class="user-unwrap-param__icon">
                        <svg class="icon ic-info" mdcSvg="ic-info"></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>