<section class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-header__wrap">
                    <div class="page-header__content">
                        <h1>{{pageTitle}}</h1>
                    </div>
                     <!-- {{permissionSetService.permissionSet|json}}  -->
                    <div *ngIf="permissionSetService.isShowError" class="system-notice system-notice_red"><span
                            class="system-notice__icon">
                            <svg class="icon ic-failure" mdcSvg="ic-failure">
                            </svg>
                        </span>
                        <span class="system-notice__text">
                            There is one or more a
                            missing fields in the permission set
                        </span>
                    </div>
                    <div class="notice">
                        <div class="notice__icon">
                            <svg class="icon ic-bulb" mdcSvg="ic-bulb"></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>