<div class="user-info" (mouseover)="isOver=true" (mouseleave)="isOver=false">
    <div class="admin-table-info__top">
        <div class="admin-table-info__head">User Details</div>
        <div class="admin-table-info__icons">
            <span (click)="edit()" class="ic-hover"><svg width="22" height="22" mdcSvg="ic-edit"></svg></span>
            <span (click)="closeInfo()" class="ic-hover"><svg width="12" height="12" mdcSvg="ic-close"></svg></span>
            <!-- <span (click)="edit()" class="ic-hover"><svg class="icon ic-edit" mdcSvg="ic-edit"></svg></span>
            <span (click)="closeInfo()" class="ic-hover"><svg class="icon ic-close-history ic-stroke" mdcSvg="ic-close"></svg></span>
            <span class="ic-hover"><svg class="icon ic-close-history ic-stroke" mdcSvg="ic-close-history"></svg></span>  -->
        </div>
    </div>
    <div class="admin-table-info__content">
        <div class="admin-table-info__main admin-table-info__main_table">
            <div class="admin-table-info__col">
                <div class="admin-table-info__item">
                    <div class="admin-table-info__title">Created:</div>
                    <div class="admin-table-info__val">{{userInfo.createdDate|date}}</div>
                </div>
                <div class="admin-table-info__item">
                    <div class="admin-table-info__title">Status:</div>
                    <div *ngIf="userInfo.activated" class="admin-table-info__val"><span class="admin-table-info__circle"></span></div>
                </div>
            </div>
            <div class="admin-table-info__col">
                <div class="admin-table-info__item">
                    <div class="admin-table-info__title">Modified:</div>
                    <div class="admin-table-info__val">{{userInfo.lastModifiedDate|date}}</div>
                </div>
                <div class="admin-table-info__item" *ngIf="userInfo.specialRoles">
                  <div class="admin-table-info__title">Admin Roles:</div>
                  <div class="admin-table-info__val">
                    <ng-container *ngFor="let role of userInfo.specialRoles">
                      <div *ngIf="role==='superadmin'" class="tag tag_light-red">Super Admin</div>
                      <div *ngIf="role==='admin'" class="tag tag_blue">Admin</div>
                    </ng-container>
                  </div>
                </div>
            </div>
        </div>
        <div class="table-detail-wrap">
            <div class="table-detail-wrap__title">Connected to Enviroments:</div>
            <table class="table-detail">
                <thead class="table-detail__head">
                    <tr>
                        <th class="table-detail__item">Enviorment</th>
                        <th class="table-detail__item">Allowed Data</th>
                        <th class="table-detail__item w-md-50">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let env of userInfo.projects">
                        <td class="table-detail__item">{{env.projectName}}</td>
                        <td class="table-detail__item">Original</td>
                        <td class="table-detail__item">{{env.UserType?.userType}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-detail-wrap">
            <div class="table-detail-wrap__title">Permission Sets:</div>
            <table class="table-detail">
                <thead class="table-detail__head">
                    <tr>
                        <th class="table-detail__item">Permission Set Name</th>
                        <th class="table-detail__item">Environment</th>
                        <th class="table-detail__item w-md-50">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let res of userInfo.researches">
                        <td class="table-detail__item">{{res.researchName}}</td>
                        <td class="table-detail__item">{{res.information}}</td>
                        <td class="table-detail__item">{{res.researchStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
