.info-popup{
    z-index: 2;
}
.icon{
    width: 20px !important;
    height: 20px !important;
  }
  .pointer:hover{
      text-decoration: underline;
  }
  .pointer{
    color:#52B6FE !important;
  }