<section class="admin-table-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="admin-table-wrap__action">
                    <div class="admin-table-wrap__col">
                        <div class="category-list-num__label">List of users without activity in the last
                            <input style="width: 50px;margin-right: 6px;" (blur)="checkValidDays()" type="number"
                                min="0" [(ngModel)]="lastDays" />Days
                        </div>
                    </div>
                </div>
                <mdc-table #table [emptyState]="emptyState" [paginator]="paginator"
                    [dataSource]="data|retention:{days:lastDays}" [cellsTemplate]="{ lastlogin:lastlogin,login:login}">
                </mdc-table>
                <div class="pager-wrap">
                    <mdc-paginator #paginator noPagingTitle="Showing {0} users"
                        paginationTitle="Showing {0} of {1} users" [blockSize]="3" [pageSize]="8" [currentPage]="0">
                    </mdc-paginator>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #lastlogin let-item>
    {{item.lastlogin|date}} {{item.lastlogin|date:'HH:mm'}}
    <!-- {{item.lastlogin|date}} {{item.lastlogin|dateTime}} -->
</ng-template>
<ng-template #login let-item>
    <div class="admin-table__name">
        {{item.login}}
    </div>
</ng-template>