<div class="user-details__content-wrap">
    <div class="user-details__content user-details__content_block">
        <div class="user-event">
            <div class="user-event-head"><span class="user-event-head__text">Event Selection</span><span
                    class="user-event-head__icon">
                    <svg class="icon ic-info" mdcSvg="ic-info">
                    </svg>
                </span>
            </div>
            <div class="user-event__text">Select the events you wish include in the patient story. At least one
                non-demographic event should be selected.<br>Default: All events are selected.</div>
        </div>
        <md-event-property-list></md-event-property-list>
    </div>
</div>