<section class="category-list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="category-list__content">
                    <div class="category-list__label">List of users without activity in the last:</div>
                    <div class="category-list__list">
                        <div class="category-list__item active"><a class="category-list__link" href="#">Month</a></div>
                        <div class="category-list__item"><a class="category-list__link" href="#">3 Months</a></div>
                        <div class="category-list__item"><a class="category-list__link" href="#">6 Months</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>