<div class="split-btn">
    <div (click)="expand($event)" class="split-btn__title">Download as:</div>
    <div (click)="expand($event)" class="split-btn__arr">
        <svg class="icon ic-select-arr-down" mdcSvg="ic-select-arr-down">
        </svg>
    </div>
    <div [hidden]="!isExpanded" class="split-btn__popup">
        <div (click)="download(csv)" class="split-btn__item">CSV file</div>
        <div (click)="download(pdf)" class="split-btn__item">Download Current View as PDF</div>
    </div>
</div>