<div class="user-details__content-wrap">
    <div class="user-details__content">
        <div class="user-details__info">
            <div class="user-details-main">
                <div class="user-details-main__item">
                    <div class="user-details-main__label">Username:</div>
                    <div class="user-details-main__field">
                        <div class="select select_small">
                            <div class="select__search">
                                <input type="text" placeholder="Type a username"><span class="select__search-close">
                                    <svg class="icon ic-close-small">
                                        <use xlink:href="/assets/sprites/sprite.svg#ic-close-small"></use>
                                    </svg></span>
                                <div class="select__head-arr">
                                    <svg class="icon ic-select-arr-down">
                                        <use xlink:href="/assets/sprites/sprite.svg#ic-select-arr-down"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="select__option">
                                <div class="select__param">Parameter 1</div>
                                <div class="select__param">Parameter 2</div>
                                <div class="select__param">Parameter 3</div>
                                <div class="select__param">Parameter 4</div>
                                <div class="select__param">Jack Black</div>
                                <div class="select__param">Jack Nicholson</div>
                                <div class="select__param">Johnson Jack</div>
                                <div class="select__param">White James</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-details-main__item"></div>
                <div class="user-details-main__item">
                    <div class="user-details-main__label"><span class="user-details-main__label-text">First Name:</span></div>
                    <div class="user-details-main__field">
                        <input type="text" placeholder="Type user’s first name">
                    </div>
                </div>
                <div class="user-details-main__item">
                    <div class="user-details-main__label"><span class="user-details-main__label-text">Last Name:</span></div>
                    <div class="user-details-main__field">
                        <input type="text" placeholder="Type user’s last name">
                    </div>
                </div>
                <div class="user-details-main__item">
                    <div class="user-details-main__label"><span class="user-details-main__label-text">Email:</span></div>
                    <div class="user-details-main__field">
                        <input type="email" placeholder="user@domain.com">
                    </div>
                </div>
                <div class="user-details-main__item">
                    <div class="user-details-main__label"><span class="user-details-main__label-text">Phone:</span><span class="user-details-main__opt">optional</span></div>
                    <div class="user-details-main__field">
                        <input type="text" placeholder="+120-234-56789">
                    </div>
                </div>
                <div class="user-details-main__item">
                    <div class="user-details-main__label"><span class="user-details-main__label-text">Super Admin:</span></div>
                    <div class="user-details-main__field">
                        <div class="switch">
                            <input type="checkbox" id="superadmin">
                            <label class="switch__content" for="superadmin">
                                <div class="switch__marker"></div>
                                <div class="switch__on">Yes</div>
                                <div class="switch__off">No</div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-details-param">
                <div class="user-details-param__title">Select the environments that are accessible to the user:</div>
                <div class="user-details-param__content">
                    <div class="user-details-param__item">
                        <div class="user-details-param__check">
                            <div class="input-check active">
                                <input type="checkbox" name="detail0" id="detail0">
                                <label class="input-check__label" for="detail0"><span class="input-check__mark">
                                        <svg class="icon ic-check">
                                            <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                        </svg></span><span class="input-check__text">Buttercup Hospital Pink - Default</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="user-details-param__item">
                        <div class="user-details-param__check">
                            <div class="input-check">
                                <input type="checkbox" name="detail1" id="detail1">
                                <label class="input-check__label" for="detail1"><span class="input-check__mark">
                                        <svg class="icon ic-check">
                                            <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                        </svg></span><span class="input-check__text">Buttercup Hospital Orange</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="user-details-param__item">
                        <div class="user-details-param__check">
                            <div class="input-check">
                                <input type="checkbox" name="detail2" id="detail2">
                                <label class="input-check__label" for="detail2"><span class="input-check__mark">
                                        <svg class="icon ic-check">
                                            <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                        </svg></span><span class="input-check__text">Buttercup Clinics - External</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="user-details-param__item">
                        <div class="user-details-param__check">
                            <div class="input-check">
                                <input type="checkbox" name="detail3" id="detail3">
                                <label class="input-check__label" for="detail3"><span class="input-check__mark">
                                        <svg class="icon ic-check">
                                            <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                        </svg></span><span class="input-check__text">Buttercup - Training environment</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="user-details-param__item">
                        <div class="user-details-param__check">
                            <div class="input-check">
                                <input type="checkbox" name="detail4" id="detail4">
                                <label class="input-check__label" for="detail4"><span class="input-check__mark">
                                        <svg class="icon ic-check">
                                            <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                        </svg></span><span class="input-check__text">Mimic Data</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-details__switch">
            <div class="user-details__label">Enabled</div>
            <div class="switch">
                <input type="checkbox" id="enabled" checked="checked">
                <label class="switch__content" for="enabled">
                    <div class="switch__marker"></div>
                    <div class="switch__on">Yes</div>
                    <div class="switch__off">No</div>
                </label>
            </div>
        </div>
    </div>
</div>