<div class="user-details__content-wrap">
    <div class="user-details__content">
        <div class="user-details__info">
            <div class="user-details-main">
                <div class="user-details-main__item">
                    <div class="user-details-main__label">Username:</div>
                    <div class="user-details-main__field">
                        <md-user-name-selector></md-user-name-selector>
                    </div>
                </div>
                <div class="user-details-main__item"></div>
                <div class="user-details-main__item">
                    <div class="user-details-main__label">
                        <span class="user-details-main__label-text">First Name:</span>
                    </div>
                    <div class="user-details-main__field">
                        <input type="text" placeholder="Type user’s first name">
                    </div>
                </div>
                <div class="user-details-main__item">
                    <div class="user-details-main__label">
                        <span class="user-details-main__label-text">Last Name:</span>
                    </div>
                    <div class="user-details-main__field">
                        <input type="text" placeholder="Type user’s last name">
                    </div>
                </div>
                <div class="user-details-main__item">
                    <div class="user-details-main__label">
                        <span class="user-details-main__label-text">Email:</span>
                    </div>
                    <div class="user-details-main__field">
                        <input type="email" placeholder="user@domain.com">
                    </div>
                </div>
                <div class="user-details-main__item">
                    <div class="user-details-main__label"><span class="user-details-main__label-text">Phone:</span><span
                            class="user-details-main__opt">optional</span></div>
                    <div class="user-details-main__field">
                        <input type="text" placeholder="+120-234-56789">
                    </div>
                </div>
                <div class="user-details-main__item">
                    <div class="user-details-main__label"><span class="user-details-main__label-text">Super
                            Admin:</span></div>
                    <div class="user-details-main__field">
                        <mdc-toggle-button [(ngModel)]="userEditService.user.isSuperAdmin"></mdc-toggle-button>
                    </div>
                </div>
            </div>
            <div class="user-details-param">
                <div class="user-details-param__title">Select the environments that are accessible to the user:</div>
                <div class="user-details-param__content">
                    <div class="user-details-param__item"
                        *ngFor="let env of userEditService.environments;let i = index">
                        <div class="user-details-param__check">
                            <mdc-check-box [(ngModel)]="env.isChecked" [id]="'env' + i" [text]="env.name">
                            </mdc-check-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-details__switch">
            <div class="user-details__label">Enabled</div>
            <mdc-toggle-button [(ngModel)]="userEditService.user.enabled"></mdc-toggle-button>
        </div>
    </div>
</div>