<div class="user-details__content-wrap">
    <div class="user-details__content">
        <div class="user-details__info">
            <div class="user-details-main">
                <div class="user-details-main__item">
                    <div class="user-details-main__label">Username:</div>
                    <div class="user-details-main__field">
                        <md-user-name-selector></md-user-name-selector>
                    </div>
                </div>
                <div class="user-details-main__item"></div>
                <md-input-item [(ngModel)]="userEditService.user.firstName" [isError]="userEditService.missingItem.firstName.isError"
                    [isMissing]="userEditService.missingItem.firstName.isMissing" placeHolder="Type user’s first name"
                    missingText="Missing first name" label="First Name:">
                </md-input-item>
                <md-input-item [(ngModel)]="userEditService.user.lastName" [isError]="userEditService.missingItem.lastName.isError"
                    [isMissing]="userEditService.missingItem.lastName.isError" placeHolder="Type user’s last name"
                    missingText="Missing last name" label="Last Name:">
                </md-input-item>
                <md-input-item type="email"  [(ngModel)]="userEditService.user.email" [isError]="userEditService.missingItem.email.isError"
                    [isMissing]="userEditService.missingItem.email.isError" placeHolder="user@domain.com"
                    missingText="Missing email" label="Email:"></md-input-item>
                <md-input-item type="text"  [(ngModel)]="userEditService.user.phone" [isOptional]="true" [isError]="false" placeHolder="+120-234-56789"
                    label="Phone:"></md-input-item>
                <div class="user-details-main__item">
                    <div class="user-details-main__label">
                        <span class="user-details-main__label-text">Super Admin:</span></div>
                    <div class="user-details-main__field">
                        <mdc-toggle-button [(ngModel)]="userEditService.user.isSuperAdmin"></mdc-toggle-button>
                    </div>
                </div>
            </div>
            <div class="user-details-param">
                <div class="user-details-param__title">Select the environments that are accessible to the user:</div>
                <div class="user-details-param__content">
                    <div class="user-details-param__item"
                        *ngFor="let env of userEditService.environments;let i = index">
                        <div class="user-details-param__check">
                            <mdc-check-box [(ngModel)]="env.isChecked" [id]="'env' + i" [text]="env.name">
                            </mdc-check-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-details__switch">
            <div class="user-details__label">Enabled</div>
            <mdc-toggle-button [(ngModel)]="userEditService.user.enabled"></mdc-toggle-button>
        </div>
    </div>
</div>