.error  {
    background: #e20343;
    color: #fff;
    outline: 0px !important
}
.error-text{
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.57;
    color: #e20343;
}
.error li{
    color:white !important;
}
.user-details-main__field.error .user-details-tooltip:after {
    border-color: rgba(0,0,0,0) #e20343 rgba(0,0,0,0) rgba(0,0,0,0);
}
.user-details-tooltip:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-color: rgba(0,0,0,0) #e20343 rgba(0,0,0,0) rgba(0,0,0,0);
    border-style: solid;
    border-width: 6px 8px 6px 0;
    position: absolute;
    top: 9px;
    right: 100%;
}
ul {
    list-style: initial !important;
  }

.user-details-tooltip{
    ul li::before{
        content: '';
        display: inline-block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: white !important;
        position: absolute;
        top: 7px;
        left: -9px;
        display:none;
    }
}