<div class="select select_small">
    <div (click)="expand($event)" class="select__head">
        <span [hidden]="selectedCount">Select Users...</span>
        <span [hidden]="!selectedCount">{{selectedCount}} Selected</span>
        <div class="select__head-arr">
            <svg class="icon ic-select-arr-down" mdcSvg="ic-select-arr-down"></svg>
        </div>
    </div>
    <div (click)="filterContainerClick($event)" class="select-filter" [hidden]="!isExpanded">
        <div class="select-filter__content">
            <div class="select-filter__top">
                <mdc-check-box (change)="changeTop($event)" [(ngModel)]="topChecked" text="Top 5 users"
                    [id]="'usrUsage'"></mdc-check-box>
                <span (click)="clear()" class="select-filter__clear pointer link">Clear</span>
            </div>
            <div class="form-search">
                <input [(ngModel)]="searchText" (keyup)="searchKey($event)" type="text" placeholder="Search a user">
                <button type="submit">
                    <svg (click)="searchKey(undefined)" class="icon ic-search" mdcSvg="ic-search"></svg>
                </button>
                <span (click)="clearSearch()" [hidden]="!searchText" class="form-search__close pointer" style="margin-top: -6px;">
                    <svg class="icon ic-close-small" mdcSvg="ic-close-small"></svg>
                </span>
            </div>
            <div [hidden]="selectedCount < maxSelected" class="select-filter__label">You can select up to {{maxSelected}} users</div>
            <div class="select-filter__params">
                <ng-container *ngFor="let user of users|usageUser:{text:searchWord};let index=$index">
                    <mdc-check-box [isDisabled]="!user.isChecked && selectedCount >= maxSelected"
                        (change)="changeSelect($event)" [(ngModel)]="user.isChecked" [id]="'usr' + index">
                        <ng-container>
                            <span class="input-check__text">
                                <span [pTooltip]="user.login" mdToolTipManager [maxWidth]="70" class="input-check__el" [mdcColorText]="searchWord"
                                    [text]="user.login"></span>
                                <span class="input-check__num">({{user.total}})</span>
                            </span>
                        </ng-container>
                    </mdc-check-box>
                </ng-container>
            </div>
            <div class="select-filter__btn">
                <button (click)="cancel()" class="btn btn_border btn_small">Cancel</button>
                <button [disabled]="selectedCount < minSelected || selectedCount > maxSelected" (click)="apply()"
                    class="btn btn_small">Apply</button>
            </div>
        </div>
    </div>
</div>