.filter-top{
	display: flex;
	align-items: center;
	margin-right: -12px;

	&__title{
		margin-right: 6px;
	}

	.select__head{background: #fff;}
}

.simple-filter{
	min-width: 160px;
	max-height: 340px;
	overflow-y: auto;
	padding: 5px 0;

	&__sect{
		position: relative;
		padding: 7px 0;
	}

	&__sect:not(:last-child)::after{
		content: '';
		display: inline-block;
		width: calc(100% - 32px);
		height: 1px;
		background: rgba(172, 178, 195, 0.5);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__item{
		display: block;
		height: rem(25px);
		text-decoration: none;
        padding: 0 16px;
        cursor: pointer;
	}

	&__item:not(:last-child){margin-bottom: 7px;}

	&__item:hover,
	&__item.active{
		background: #eee;
		color: #0000ee;
		text-decoration: none;
	}
}