<div class="user-details__content-wrap">
    <div class="user-details__content user-details__content_block">
        <div class="user-details__info">
            <div class="user-source">
                <div class="user-source__text">Please fill the below information. All fields are mandatory.</div>
                <div class="user-source__content">
                    <div class="user-source__list">
                        <div class="user-source__item">
                            <div class="user-source__label"><span class="user-source__label-text">Name:</span></div>
                            <div class="user-source__field">
                                <input type="text" [(ngModel)]="editPatientService.settings.settingsName"
                                    placeholder="Type name for the settings">
                            </div>
                        </div>
                        <div class="user-source__item">
                            <div class="user-source__label">Environment:</div>
                            <div class="user-source__field">
                                <md-project-combo #projectCmp [isSmall]="true" [selectUp]="false"
                                    [project]="editPatientService.settings.projectId"
                                    (onChange)="changedProject($event)">
                                </md-project-combo>
                            </div>
                        </div>
                        <div class="user-source__item user-source__item_full">
                            <div class="user-source__label">Cohort source:</div>
                            <div class="user-source__field">
                                <div class="user-source-radio">
                                    <div class="user-source-radio__item">
                                        <div class="user-source-radio__head">
                                            <div class="input-radio">
                                                <input id="based1" type="radio" name="based" checked="checked">
                                                <label class="input-radio__label" for="based1"><span
                                                        class="input-radio__mark"></span><span
                                                        class="input-radio__text">Based on a query<span
                                                            class="input-radio__notice">List is sorted by
                                                            date</span></span></label>
                                            </div>
                                        </div>
                                        <div class="user-source-radio__field">
                                            <div class="select select_small">
                                                <div class="select__search">
                                                    <input type="text" placeholder="Search or Select a Query..."><span
                                                        class="select__search-close">
                                                        <svg class="icon ic-close-small">
                                                            <use xlink:href="/assets/sprites/sprite.svg#ic-close-small">
                                                            </use>
                                                        </svg></span>
                                                    <div class="select__head-arr">
                                                        <svg class="icon ic-select-arr-down">
                                                            <use
                                                                xlink:href="/assets/sprites/sprite.svg#ic-select-arr-down">
                                                            </use>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="select__option">
                                                    <div class="select__param">Parameter 1</div>
                                                    <div class="select__param">Parameter 2</div>
                                                    <div class="select__param">Parameter 3</div>
                                                    <div class="select__param">Parameter 4</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-source-radio__item">
                                        <div class="user-source-radio__head">
                                            <div class="input-radio">
                                                <input id="based2" type="radio" name="based">
                                                <label class="input-radio__label" for="based2"><span
                                                        class="input-radio__mark"></span><span
                                                        class="input-radio__text">Based on a file</span></label>
                                            </div>
                                        </div>
                                        <div class="user-source-radio__field">
                                            <div class="file-upload disable">
                                                <label class="file-upload__content">
                                                    <input type="file" name="file" disabled="disabled"><span
                                                        class="file-upload__btn">Choose File</span><span
                                                        class="file-upload__name disable">No file chosen</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-source__item user-source__item_full">
                            <div class="user-source__label">Output format:</div>
                            <div class="user-source__field">
                                <div class="user-source-format">
                                    <mdc-tabs [isSmall]="true" (select)="setOutputFormat($event)" [active]="activeFormat"
                                        [tabs]="tabsFormat"></mdc-tabs>
                                    <!-- <div class="tabs-page tabs-page_small">
                                        <span class="tabs-page__item active">
                                            <span>XML Files</span></span>
                                        <span class="tabs-page__item"><span>Table</span>
                                        </span>
                                    </div> -->
                                    <div class="user-source-format__text">The location of the XML files will be
                                        available once the process is complete.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>