<mdc-svg-loader></mdc-svg-loader>
<mdc-main-header logo="/assets/logo.jpg" organizationName="MDClone"></mdc-main-header>
<div #appMenu [@openClose]="componentService.showSideMenu ? 'open' : 'closed'" class="main-nemu-container">
    <mdc-side-bar></mdc-side-bar>
</div>
<table class="table-main">
    <tr>
        <td #firstTd (@openClose.start)="animationStarted($event)" (@openClose.done)="animationDone($event)"
            [@openClose]="componentService.showSideMenu ? 'open' : 'closed'"
            class="main-table-top">
        </td>
        <td class="main-table-top main-table-content">
            <div style="overflow-y: hidden;" [style.overflowX]="overflowX" [style.width]="appWidth">
                <router-outlet></router-outlet>
            </div>
        </td>
    </tr>
</table>