<mdc-svg-loader></mdc-svg-loader>
<mdc-main-header logo="/assets/logo.jpg" organizationName="MDClone"></mdc-main-header>
<div [@openClose]="componentService.showSideMenu ? 'open' : 'closed'" class="main-nemu-container">
    <mdc-side-bar></mdc-side-bar>
</div>
<table class="table-main">
    <tr>
        <td (@openClose.start)="animationStarted($event)" (@openClose.done)="animationDone($event)"
            [@openClose]="componentService.showSideMenu ? 'open' : 'closed'"
            class="main-table-top main-table-side-menu">
        </td>
        <td class="main-table-top main-table-content">
            <router-outlet></router-outlet>
        </td>
    </tr>
</table>