<div class="rule-build-item__select">
    <div class="drop-cond drop-cond_big">
        <div class="drop-cond__content">
            <div class="drop-cond__search">
                <input [disabled]="isDisabled" [(ngModel)]="searchText" (keyup)="keyUp($event)" (keydown)="keyDown($event)" type="text" [placeholder]="placeholder">
                <span [hidden]="!searchText" (click)="clear($event)" class="event-select__search-close">
                    <svg class="icon ic-close-small" mdcSvg="ic-close-small"></svg>
                </span>
                <div (click)="expandAll($event)" class="drop-cond__head-arr">
                    <svg class="icon ic-select-arr-down" mdcSvg="ic-select-arr-down"></svg>
                </div>
            </div>
            <div [hidden]="!isExpanded" class="drop-cond__popup">
                <div class="drop-cond__option">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>