<section class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-header__wrap">
                    <div class="page-header__content">
                        <h1>{{headerTitle}}</h1>
                    </div>
                    <div class="notice">
                        <div class="notice__icon">
                            <svg mdcSvg="ic-bulb" class="icon ic-bulb"></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>