<div class="user-summary__sect">
    <md-summary-header [tab]="1" name="Content"></md-summary-header>
    <div class="user-summary__content">
        <div class="user-summary__param">
            <div class="user-summary__label">The patient story will include:</div>
            <div class="user-summary__val">Per user selection</div>
        </div>
        <div class="user-summary__param">
            <div class="user-summary__label">Categories settings are the default:</div>
            <div class="user-summary__val">No Distortion</div>
        </div>
    </div>
</div>