<main class="main main_no-indent">
    <div class="content-page">
        <div class="usage-dashboard">
            <section class="page-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-header__wrap">
                                <div class="page-header__content">
                                    <h1>Usage Dashboard</h1>
                                </div>
                                <div class="notice">
                                    <div class="notice__icon">
                                        <svg class="icon ic-bulb">
                                            <use xlink:href="/assets/sprites/sprite.svg#ic-bulb"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="usage-dashboard-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="usage-dashboard-top__content"><a class="link-load" href="#"><span
                                        class="ic-hover">
                                        <svg class="icon ic-download">
                                            <use xlink:href="/assets/sprites/sprite.svg#ic-download"></use>
                                        </svg></span><span class="link-load__text">Download</span></a>
                                <div class="usage-dashboard-top__tab">
                                    <div class="tabs-page"><a
                                            class="tabs-page__item active d-none d-md-inline-block"
                                            href="#"><span>General Usage</span></a><a
                                            class="tabs-page__item d-none d-md-inline-block"
                                            href="#"><span>Monthly Activity</span></a><a
                                            class="tabs-page__item d-none d-lg-inline-block"
                                            href="#"><span>Activity per User</span></a><a
                                            class="tabs-page__item d-none d-lg-inline-block" href="#"><span>Top
                                                10 Users</span></a><a class="tabs-page__item"
                                            href="#"><span>More: Retention</span>
                                            <svg class="icon ic-select-arr-down">
                                                <use xlink:href="/assets/sprites/sprite.svg#ic-select-arr-down">
                                                </use>
                                            </svg>
                                            <div class="tabs-popup-more-wrap">
                                                <div class="tabs-popup-more">
                                                    <div class="tabs-popup-more__list">
                                                        <div class="tabs-popup-more__item">Created</div>
                                                        <div class="tabs-popup-more__item">Table</div>
                                                        <div class="tabs-popup-more__item d-md-none">General
                                                            Usage</div>
                                                        <div class="tabs-popup-more__item d-md-none">Monthly
                                                            Activity</div>
                                                        <div class="tabs-popup-more__item d-lg-none">Activity
                                                            per User</div>
                                                        <div class="tabs-popup-more__item d-lg-none">Top 10
                                                            Users</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="info-panel-wrap">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="info-panel">
                                <div class="info-panel__content">
                                    <div class="info-panel-choose">
                                        <div class="info-panel-choose__item">
                                            <div class="info-panel-choose__title">Environment:</div>
                                            <div class="info-panel-choose__val">
                                                <div class="select select_small">
                                                    <div class="select__head">Please Select...
                                                        <div class="select__head-arr">
                                                            <svg class="icon ic-select-arr-down">
                                                                <use
                                                                    xlink:href="/assets/sprites/sprite.svg#ic-select-arr-down">
                                                                </use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="select__option">
                                                        <div class="select__param">Health Institute external
                                                        </div>
                                                        <div class="select__param">Health Institute 2</div>
                                                        <div class="select__param">Health Institute 3</div>
                                                        <div class="select__param">Health Institute 4</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="info-panel-choose__item">
                                            <div class="info-panel-choose__title">Years:</div>
                                            <div class="info-panel-choose__val">
                                                <div class="select select_small">
                                                    <div class="select__head">Please Select...
                                                        <div class="select__head-arr">
                                                            <svg class="icon ic-select-arr-down">
                                                                <use
                                                                    xlink:href="/assets/sprites/sprite.svg#ic-select-arr-down">
                                                                </use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="select__option">
                                                        <div class="select__param">YTD (Year To Date)</div>
                                                        <div class="select__param">YTD (Year To Date) 2</div>
                                                        <div class="select__param">YTD (Year To Date) 3</div>
                                                        <div class="select__param">YTD (Year To Date) 4</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-panel__switch">
                                        <div class="info-panel__switch-label">Include Admin Users</div>
                                        <div class="switch">
                                            <input type="checkbox" id="switch1">
                                            <label class="switch__content" for="switch1">
                                                <div class="switch__marker"></div>
                                                <div class="switch__on">Yes</div>
                                                <div class="switch__off">No</div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="graph-wrap">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="graph">
                                <div class="graph__top">
                                    <div class="graph__head">Monthly General Usage<span
                                            class="tooltip tooltip_left" graphInfo.popup_status=""><span
                                                class="tooltip__content">Each bar represents the monthly number
                                                of users who created at least one new query or downloaded a
                                                file.</span></span>
                                    </div>
                                </div>
                                <div class="graph__content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>