<div class="wrapper">
    <main>
        {{state|json}}
        <md-page-title>USAGE DASHBOARD</md-page-title>
        <md-page-body>
            <md-usage-dashboard-top [tabActive]="currentTab" [subItemActive]="currentSubTab" (onSelect)="selectTab($event)"></md-usage-dashboard-top>
            <md-usage-dashboard-info-panel></md-usage-dashboard-info-panel>
            <md-user-time-activity *ngIf="state.tab===4" (onSelect)="changeCurrentAcitity($event)" [current]="currentActivity"
                [buttons]="activityButtons"></md-user-time-activity>
            <md-usage-report *ngIf="state.subTab <= 0" ></md-usage-report>
            <md-usage-table [usageReportParams]="usageReportParams" *ngIf="state.subTab > 0"></md-usage-table>
        </md-page-body>
    </main>
</div>