<section class="usage-dashboard-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="usage-dashboard-top__content"><a class="link-load" href="#"><span class="ic-hover">
                            <mdc-icon path="ic-download"></mdc-icon>
                        </span><span class="link-load__text">Download</span></a>
                    <div class="usage-dashboard-top__tab">
                        <div class="tabs-page"><a class="tabs-page__item d-none d-md-inline-block"
                                href="#"><span>General Usage</span></a><a
                                class="tabs-page__item d-none d-md-inline-block" href="#"><span>Monthly
                                    Activity</span></a><a class="tabs-page__item active d-none d-lg-inline-block"
                                href="#"><span>Activity per User</span></a><a
                                class="tabs-page__item d-none d-lg-inline-block" href="#"><span>Top 10
                                    Users</span></a><a class="tabs-page__item" href="#"><span>More:
                                    Retention</span>
                                <svg class="icon ic-select-arr-down">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-select-arr-down"></use>
                                </svg>
                                <div class="tabs-popup-more-wrap">
                                    <div class="tabs-popup-more">
                                        <div class="tabs-popup-more__list">
                                            <div class="tabs-popup-more__item">Created</div>
                                            <div class="tabs-popup-more__item">Table</div>
                                            <div class="tabs-popup-more__item d-md-none">General Usage</div>
                                            <div class="tabs-popup-more__item d-md-none">Monthly Activity
                                            </div>
                                            <div class="tabs-popup-more__item d-lg-none">Activity per User
                                            </div>
                                            <div class="tabs-popup-more__item d-lg-none">Top 10 Users</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>