<section class="usage-dashboard-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="usage-dashboard-top__content">
                    <mdc-download></mdc-download>
                    <div class="usage-dashboard-top__tab">
                        <div (mouseleave)="showMoreTab=false">
                            <mdc-tabs tabid="importetFilesTab" [active]="tabActive" [tabs]="tabs"
                                (select)="selectTab($event)">
                            </mdc-tabs>
                            <div class="popup-content">
                                <div [hidden]="!showMoreTab" (mouseover)="showMoreTab=true"
                                    (mouseleave)="showMoreTab=false" class="tabs-popup-more-wrap">
                                    <div class="tabs-popup-more">
                                        <div class="tabs-popup-more__list">
                                            <div class="tabs-popup-more__item">Created</div>
                                            <div class="tabs-popup-more__item">Table</div>
                                            <div class="tabs-popup-more__item d-md-none">General Usage</div>
                                            <div class="tabs-popup-more__item d-md-none">Monthly Activity
                                            </div>
                                            <div class="tabs-popup-more__item d-lg-none">Activity per User
                                            </div>
                                            <div class="tabs-popup-more__item d-lg-none">Top 10 Users</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>