.tabs-popup-more-wrap{
    width:auto !important;
    min-width: 160px;
}
.popup-content{
    display: block;
    position:relative;
}
.usage-dashboard-top__content{
    z-index: 5;
    padding: 0 !important;
}
.usage-dashboard-top__tab{
    margin-left: auto;
}
