<section class="graph-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="graph">
                    <div class="graph__top">
                        <div class="graph__head">Activity: new queries count
                        </div>
                    </div>
                    <div class="graph__content">
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="graph">
                    <div class="graph__top">
                        <div class="graph__head">Activity: file downloads count
                        </div>
                    </div>
                    <div class="graph__content">
                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>