<div class="user-event-prop">
    <div class="user-event-prop__head">
        <div class="input-check">
            <input [id]="id + 'all'" type="checkbox" (change)="chackAll()" [(ngModel)]="isCheckedAll">
            <label class="input-check__label" [for]="id + 'all'">
                <span class=" input-check__mark">
                <svg class="icon ic-check" mdcSvg="ic-check"></svg>
                </span>
                <span class="input-check__text">Event Name
                    <svg class="icon ic-enter-reverse" mdcSvg="ic-enter-reverse"></svg>
                    Property</span>
            </label>
        </div>
    </div>
    <div class="user-event-prop__content">
        <div *ngFor="let opt of editPatientService.events;let optIndex = index;" [ngClass]="{'open':opt.isExpanded}"
            class="user-event-unwrap">
            <div class="user-event-unwrap__main">
                <div (click)="expand(opt)" class="user-event-unwrap__arr">
                    <svg class="icon ic-arr-right" mdcSvg="ic-arr-right"></svg>
                </div>
                <div class="input-check active">
                    <input type="checkbox" [id]="'ev' + optIndex" (change)="checkEvent(opt)"
                        [(ngModel)]="opt.isChecked">
                    <label class="input-check__label" [for]="'ev' + optIndex">
                        <span class="input-check__mark">
                            <svg class="icon ic-check" mdcSvg="ic-check"></svg>
                        </span>
                        <span class="input-check__text">{{opt.eventTableAlias}}</span>
                    </label>
                </div>
            </div>
            <div *ngFor="let subItem of opt.siteEventPropertyInfos;let subIndex = index" class="user-event-unwrap__content">
                <div class="user-event-unwrap__item">
                    <div class="input-check">
                        <input type="checkbox" [id]="'sev' + optIndex + '_' + subIndex"
                            (change)="checkSubEvent(opt,subItem)" [(ngModel)]="subItem.isChecked">
                        <label class="input-check__label" [for]="'sev' + optIndex + '_' + subIndex">
                            <span class="input-check__mark">
                                <svg class="icon ic-check" mdcSvg="ic-check"></svg>
                            </span>
                            <span class="input-check__text">{{subItem.fieldDescription}}</span></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>