<div class="user-event-prop">
    <div class="user-event-prop__head">
        <div class="input-check">
            <input id="all" type="checkbox" name="all" checked="checked">
            <label class="input-check__label" for="all"><span class="input-check__mark">
                    <svg class="icon ic-check" mdcSvg="ic-check">
                    </svg></span><span class="input-check__text">Event Name
                    <svg class="icon ic-enter-reverse" mdcSvg="ic-enter-reverse">
                    </svg>Property</span></label>
        </div>
        <div class="user-event-filter">
            <div class="user-event-filter__label">Permission template</div>
            <div class="user-event-filter__icon"><span class="ic-hover">
                    <svg class="icon ic-filter ic-stroke">
                        <use xlink:href="/assets/sprites/sprite.svg#ic-filter"></use>
                    </svg></span>
                <div class="user-event-filter__popup active">
                    <form>
                        <div class="user-event-filter__top">
                            <div class="input-check">
                                <input id="filterAll" type="checkbox" name="filterAll" checked="checked">
                                <label class="input-check__label" for="filterAll"><span class="input-check__mark">
                                        <svg class="icon ic-check">
                                            <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                        </svg></span><span class="input-check__text">Select All</span></label>
                            </div><span class="user-event-filter__clear">Clear</span>
                        </div>
                        <div class="user-event-filter__filters">
                            <div class="input-check active">
                                <input id="filter1" type="checkbox" name="filter1" checked="checked">
                                <label class="input-check__label" for="filter1"><span class="input-check__mark">
                                        <svg class="icon ic-check">
                                            <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                        </svg></span><span class="input-check__text">Events without a
                                        template</span></label>
                            </div>
                            <div class="input-check">
                                <input id="filter2" type="checkbox" name="filter2" checked="checked">
                                <label class="input-check__label" for="filter2"><span class="input-check__mark">
                                        <svg class="icon ic-check">
                                            <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                        </svg></span><span class="input-check__text">Obsolete events</span></label>
                            </div>
                            <div class="input-check">
                                <input id="filter3" type="checkbox" name="filter3" checked="checked">
                                <label class="input-check__label" for="filter3"><span class="input-check__mark">
                                        <svg class="icon ic-check">
                                            <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                        </svg></span><span class="input-check__text">All Medications &
                                        Drugs</span></label>
                            </div>
                            <div class="input-check">
                                <input id="filter4" type="checkbox" name="filter4" checked="checked">
                                <label class="input-check__label" for="filter4"><span class="input-check__mark">
                                        <svg class="icon ic-check">
                                            <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                        </svg></span><span class="input-check__text">Oncology Events</span></label>
                            </div>
                            <div class="input-check">
                                <input id="filter5" type="checkbox" name="filter5" checked="checked">
                                <label class="input-check__label" for="filter5"><span class="input-check__mark">
                                        <svg class="icon ic-check">
                                            <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                        </svg></span><span class="input-check__text">Admission Related</span></label>
                            </div>
                        </div>
                        <div class="user-event-filter__btn"><span class="btn btn_border btn_small">Cancel</span>
                            <input class="btn btn_small" type="submit" value="Apply">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="user-event-prop__content">
        <div class="user-event-unwrap open">
            <div class="user-event-unwrap__main">
                <div class="user-event-unwrap__arr">
                    <svg class="icon ic-arr-right">
                        <use xlink:href="/assets/sprites/sprite.svg#ic-arr-right"></use>
                    </svg>
                </div>
                <div class="input-check active">
                    <input type="checkbox" id="event0" checked="checked">
                    <label class="input-check__label" for="event0"><span class="input-check__mark">
                            <svg class="icon ic-check">
                                <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                            </svg></span><span class="input-check__text">Demographics</span></label>
                </div>
            </div>
            <div class="user-event-unwrap__content">
                <div class="user-event-unwrap__item">
                    <div class="input-check">
                        <input type="checkbox" id="subevent00" checked="checked">
                        <label class="input-check__label" for="subevent00"><span class="input-check__mark">
                                <svg class="icon ic-check">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                </svg></span><span class="input-check__text">Patient ID</span></label>
                    </div>
                </div>
                <div class="user-event-unwrap__item">
                    <div class="input-check">
                        <input type="checkbox" id="subevent01" checked="checked">
                        <label class="input-check__label" for="subevent01"><span class="input-check__mark">
                                <svg class="icon ic-check">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                </svg></span><span class="input-check__text">Birth Date</span></label>
                    </div>
                </div>
                <div class="user-event-unwrap__item">
                    <div class="input-check">
                        <input type="checkbox" id="subevent02" checked="checked">
                        <label class="input-check__label" for="subevent02"><span class="input-check__mark">
                                <svg class="icon ic-check">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                </svg></span><span class="input-check__text">Gender</span></label>
                    </div>
                </div>
                <div class="user-event-unwrap__item">
                    <div class="input-check">
                        <input type="checkbox" id="subevent03" checked="checked">
                        <label class="input-check__label" for="subevent03"><span class="input-check__mark">
                                <svg class="icon ic-check">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                </svg></span><span class="input-check__text">Country of birth</span></label>
                    </div>
                </div>
                <div class="user-event-unwrap__item">
                    <div class="input-check">
                        <input type="checkbox" id="subevent04" checked="checked">
                        <label class="input-check__label" for="subevent04"><span class="input-check__mark">
                                <svg class="icon ic-check">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                </svg></span><span class="input-check__text">City of birth</span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-event-unwrap open">
            <div class="user-event-unwrap__main">
                <div class="user-event-unwrap__arr">
                    <svg class="icon ic-arr-right">
                        <use xlink:href="/assets/sprites/sprite.svg#ic-arr-right"></use>
                    </svg>
                </div>
                <div class="input-check">
                    <input type="checkbox" id="event1" checked="checked">
                    <label class="input-check__label" for="event1"><span class="input-check__mark">
                            <svg class="icon ic-check">
                                <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                            </svg></span><span class="input-check__text">Lab results microbiology</span></label>
                </div>
            </div>
            <div class="user-event-unwrap__content">
                <div class="user-event-unwrap__item">
                    <div class="input-check">
                        <input type="checkbox" id="subevent10" checked="checked">
                        <label class="input-check__label" for="subevent10"><span class="input-check__mark">
                                <svg class="icon ic-check">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                </svg></span><span class="input-check__text">start date</span></label>
                    </div>
                </div>
                <div class="user-event-unwrap__item">
                    <div class="input-check">
                        <input type="checkbox" id="subevent11" checked="checked">
                        <label class="input-check__label" for="subevent11"><span class="input-check__mark">
                                <svg class="icon ic-check">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                </svg></span><span class="input-check__text">end date</span></label>
                    </div>
                </div>
                <div class="user-event-unwrap__item">
                    <div class="input-check">
                        <input type="checkbox" id="subevent12" checked="checked">
                        <label class="input-check__label" for="subevent12"><span class="input-check__mark">
                                <svg class="icon ic-check">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                </svg></span><span class="input-check__text">antibioticcode</span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-event-unwrap open">
            <div class="user-event-unwrap__main">
                <div class="user-event-unwrap__arr">
                    <svg class="icon ic-arr-right">
                        <use xlink:href="/assets/sprites/sprite.svg#ic-arr-right"></use>
                    </svg>
                </div>
                <div class="input-check">
                    <input type="checkbox" id="event2" checked="checked">
                    <label class="input-check__label" for="event2"><span class="input-check__mark">
                            <svg class="icon ic-check">
                                <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                            </svg></span><span class="input-check__text">Admissions</span></label>
                </div>
            </div>
            <div class="user-event-unwrap__content">
                <div class="user-event-unwrap__item">
                    <div class="input-check">
                        <input type="checkbox" id="subevent20" checked="checked">
                        <label class="input-check__label" for="subevent20"><span class="input-check__mark">
                                <svg class="icon ic-check">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                </svg></span><span class="input-check__text">Patient ID</span></label>
                    </div>
                </div>
                <div class="user-event-unwrap__item">
                    <div class="input-check">
                        <input type="checkbox" id="subevent21" checked="checked">
                        <label class="input-check__label" for="subevent21"><span class="input-check__mark">
                                <svg class="icon ic-check">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                </svg></span><span class="input-check__text">age at event</span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-event-unwrap open">
            <div class="user-event-unwrap__main">
                <div class="user-event-unwrap__arr">
                    <svg class="icon ic-arr-right">
                        <use xlink:href="/assets/sprites/sprite.svg#ic-arr-right"></use>
                    </svg>
                </div>
                <div class="input-check">
                    <input type="checkbox" id="event3" checked="checked">
                    <label class="input-check__label" for="event3"><span class="input-check__mark">
                            <svg class="icon ic-check">
                                <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                            </svg></span><span class="input-check__text">Medications</span></label>
                </div>
            </div>
            <div class="user-event-unwrap__content">
                <div class="user-event-unwrap__item">
                    <div class="input-check">
                        <input type="checkbox" id="subevent30" checked="checked">
                        <label class="input-check__label" for="subevent30"><span class="input-check__mark">
                                <svg class="icon ic-check">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                </svg></span><span class="input-check__text">Parameter</span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-event-unwrap open">
            <div class="user-event-unwrap__main">
                <div class="user-event-unwrap__arr">
                    <svg class="icon ic-arr-right">
                        <use xlink:href="/assets/sprites/sprite.svg#ic-arr-right"></use>
                    </svg>
                </div>
                <div class="input-check">
                    <input type="checkbox" id="event4" checked="checked">
                    <label class="input-check__label" for="event4"><span class="input-check__mark">
                            <svg class="icon ic-check">
                                <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                            </svg></span><span class="input-check__text">Admissions</span></label>
                </div>
            </div>
            <div class="user-event-unwrap__content">
                <div class="user-event-unwrap__item">
                    <div class="input-check">
                        <input type="checkbox" id="subevent40" checked="checked">
                        <label class="input-check__label" for="subevent40"><span class="input-check__mark">
                                <svg class="icon ic-check">
                                    <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                </svg></span><span class="input-check__text">Parameter</span></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>