<div class="main-content">
    <div class="content-page">
        <md-header></md-header>
        <section class="add-perm-set-wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div *ngIf="permissionSetService.dataLoaded" class="add-perm-set">
                            <md-tabs (onSelect)="selectNextTab($event)" [selectedTab]="permissionSetService.selectedTab"
                                [tabs]="tabs"></md-tabs>
                            <md-step1 [hidden]="permissionSetService.selectedTab!==0"></md-step1>
                            <md-step2 [hidden]="permissionSetService.selectedTab!==1"></md-step2>
                            <md-step3 [hidden]="permissionSetService.selectedTab!==2"></md-step3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<md-footer [isSaveEnable]="isSaveEnable" (onCancel)="cancel()" (onNext)="next($event)" (onSave)="save()"></md-footer>