<div class="main-content">
    <div class="content-page">
        <md-header backUrl="users/research" [pageTitle]="pageTitle" [showTitle]="!isPopup" [showLegend]="showLegend"></md-header>
        <section class="add-perm-set-wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div *ngIf="!permissionSetService.dataLoaded">Loading...</div>
                        <div *ngIf="permissionSetService.dataLoaded" class="add-perm-set">
                            <md-tab-wizard (onSelect)="selectNextTab($event)" [selectedTab]="permissionSetService.selectedTab"
                                [tabs]="tabs"></md-tab-wizard>
                            <md-step1 (onAfterinit)="afterStep1init()" [isOfflineMode]="isOfflineMode"
                                [isPopup]="isPopup" [hidden]="permissionSetService.selectedTab!==0"></md-step1>
                            <md-step2 [isOfflineMode]="isOfflineMode" [hidden]="permissionSetService.selectedTab!==1">
                            </md-step2>
                            <md-step3 [isOfflineMode]="isOfflineMode" [hidden]="permissionSetService.selectedTab!==2">
                            </md-step3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<md-footer [isLastTab]="isLastTab" (onOptionClick)="save()" [step]="permissionSetService.selectedTab" (onCancel)="cancel()"
    (onNext)="next($event)" (onSave)="save()" [isNextEnable]="isNextEnable"></md-footer>

<md-confirm-dialog *ngIf="showCancelConfirm" confirmText="Yes" cancelText="No, cancel" name="Save Permission Set"
    subName="Saving the permission set without defining the allowed events, will prevent user from creating a query.."
    subText="Do you wish to save and continue later?" text="" (onCancel)="cancelSave()" (onConfirm)="confirmSave()">
</md-confirm-dialog>

<md-confirm-dialog *ngIf="showChangesConfirm" confirmText="Yes" cancelText="No, stay on page"
    name="Leaving Permission Set Page" subName="Changes you made will be lost." subText="Do you wish to leave the page?"
    text="" (onCancel)="cancelChanges()" (onConfirm)="confirmChanges()">
</md-confirm-dialog>