<div>
    <div class="modal-window__head">New imported file</div>
    <div (click)="cancel()" class="modal-window__close ic-hover">
        <mdc-icon path="ic-close"></mdc-icon>
    </div>
    <form (submit)="uploadFile($event)" [formGroup]="formGroup" class="form-site">
        <div class="form-site__fields">
            <div class="form-site__item">
                <div class="form-site__label">Choose File</div>
                <div class="file-upload">
                    <label class="file-upload__content">
                        <input #fileInput (change)="updateFileName($event)" type="file" formControlName="file"><span
                            class="file-upload__btn">Choose File</span><span class="file-upload__name disable">
                            <ng-template [ngIf]="!fileName">
                                Select a CSV or Excel file
                            </ng-template>
                            <ng-template [ngIf]="fileName">
                                {{fileName}}
                            </ng-template>
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-site__item">
                <label class="form-site__label" for="name">Name</label>
                <input formControlName="typeFileName" type="text" placeholder="Type file name">
            </div>
            <div class="form-site__item">
                <label class="form-site__label" for="project">Environment</label>
                <md-project-combo [selectedProject]="selectedProjectID" (onChange)="changedProject($event)"></md-project-combo>
            </div>
            <div class="form-site__item">
                <label class="form-site__label">Make this a shared file</label>
                <div class="form-site__shared"><span class="form-site__shared-notice"><span
                            class="form-site__shared-text">When file is shared everyone can see and use
                            it.</span></span>
                    <div class="switch">
                        <mdc-toggle-button [ngModelOptions]="{standalone: true}" no="No" yes="Yes"
                            [(ngModel)]="isShared"></mdc-toggle-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-site__btn">
            <button (click)="cancel()" class="btn btn_border">Cancel</button>
            <input [disabled]="!isValid" [ngClass]="{'btn_disable':!isValid}" class="btn" type="submit" value="Upload">
        </div>
    </form>
</div>