<div class="add-perm-set__content-wrap">
    <div class="add-perm-set__content">
        <div class="add-perm-set__head">Allowed Events</div>
        <div class="add-perm-set__text">Define the events that the user will be allowed to query:</div>
        <div class="allowed-events">
            <div class="allowed-events__choose">
                <div *ngFor="let ev of allowedEvents" class="input-radio">
                    <input type="radio" [value]="ev.id" id="event_{{ev.id}}"
                        [(ngModel)]="permissionSetService.permissionSet.allowedEvent">
                    <label class="input-radio__label" for="event_{{ev.id}}">
                        <span class="input-radio__mark"></span>
                        <span class="input-radio__text">{{ev.text}}</span></label>
                </div>
            </div>
            <div class="add-perm-templ" [ngClass]="{'disable':permissionSetService.permissionSet.allowedEvent!==3}">
                <div class="add-perm-templ__list">
                    <div (mouseleave)="unselectTemplateItem()" (mouseover)="selectTemplateItem(t)" *ngFor="let t of permissionSetService.templates" class="add-perm-templ__item">
                        <div class="input-check">
                            <input (change)="updateTemplates(t)" [(ngModel)]="t.isChecked" type="checkbox"
                                id="tmpl_{{t.id}}" [disabled]="permissionSetService.permissionSet.allowedEvent!==3">
                            <label class="input-check__label" for="tmpl_{{t.id}}">
                                <span class="input-check__mark">
                                    <svg class="icon ic-check" mdcSvg="ic-check"></svg>
                                </span>
                                <span class="input-check__text">{{t.name}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="add-perm-templ__info">
                    <div [hidden]="templateItems?.length" class="add-perm-templ-empty">
                        <div class="add-perm-templ-empty__icon"><img src="/assets/img/hover.svg" alt=""></div>
                        <div class="add-perm-templ-empty__text"><span class="add-perm-templ-empty__accent">Hover</span>
                            over a line to see additional event and property details
                        </div>
                    </div>
                    <div [hidden]="!templateItems?.length" class="add-perm-templ-res">
                        <div *ngFor="let ti of templateItems" class="add-perm-templ-res__item">
                            <div class="add-perm-templ-res__title">
                                {{ti.name}}
                            </div>
                            <div class="add-perm-templ-res__type">
                                <svg class="icon ic-medications" mdcSvg="ic-medications"></svg>
                                {{ti.type}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="add-perm-evets">
                <div class="add-perm-evets__title">Events the user may query:</div>
                <div class="add-perm-evets__content">
                    <div class="add-perm-evets__list">
                        <div class="add-perm-evets__item">Admissions</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>