<div class="add-perm-set__content-wrap">
    <div class="add-perm-set__content">
        <div class="add-perm-set__head">Allowed Events</div>
        <div class="add-perm-set__text">Define the events that the user will be allowed to query:</div>
        <div class="allowed-events">
            <div class="allowed-events__choose">
                <div class="input-radio">
                    <input id="radio1" type="radio" name="addset">
                    <label class="input-radio__label" for="radio1"><span class="input-radio__mark"></span><span class="input-radio__text">No allowed events (Default)</span></label>
                </div>
                <div class="input-radio">
                    <input id="radio2" type="radio" name="addset" checked="checked">
                    <label class="input-radio__label" for="radio2"><span class="input-radio__mark"></span><span class="input-radio__text">All events</span></label>
                </div>
                <div class="input-radio">
                    <input id="radio3" type="radio" name="addset">
                    <label class="input-radio__label" for="radio3"><span class="input-radio__mark"></span><span class="input-radio__text">Events based on permission templates:</span></label>
                </div>
            </div>
            <div class="add-perm-templ disable">
                <div class="add-perm-templ__list">
                    <div class="add-perm-templ__item">
                        <div class="input-check">
                            <input type="checkbox" name="param" id="param0" disabled="disabled">
                            <label class="input-check__label" for="param0"><span class="input-check__mark">
                                    <svg class="icon ic-check" mdcSvg="ic-check">
                                    </svg></span><span class="input-check__text">Diagnosis in Clinics</span></label>
                        </div>
                    </div>
                    <div class="add-perm-templ__item">
                        <div class="input-check">
                            <input type="checkbox" name="param" id="param1" disabled="disabled">
                            <label class="input-check__label" for="param1"><span class="input-check__mark">
                                    <svg class="icon ic-check" mdcSvg="ic-check">
                                    </svg></span><span class="input-check__text">Labs in Hospital &amp; Clinics</span></label>
                        </div>
                    </div>
                    <div class="add-perm-templ__item">
                        <div class="input-check">
                            <input type="checkbox" name="param" id="param2" disabled="disabled">
                            <label class="input-check__label" for="param2"><span class="input-check__mark">
                                    <svg class="icon ic-check">
                                        <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                    </svg></span><span class="input-check__text">Medication and Drugs - All</span></label>
                        </div>
                    </div>
                    <div class="add-perm-templ__item">
                        <div class="input-check">
                            <input type="checkbox" name="param" id="param3" disabled="disabled">
                            <label class="input-check__label" for="param3"><span class="input-check__mark">
                                    <svg class="icon ic-check">
                                        <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                    </svg></span><span class="input-check__text">Oncology Events (inc. Medications)</span></label>
                        </div>
                    </div>
                    <div class="add-perm-templ__item">
                        <div class="input-check">
                            <input type="checkbox" name="param" id="param4" disabled="disabled">
                            <label class="input-check__label" for="param4"><span class="input-check__mark">
                                    <svg class="icon ic-check">
                                        <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                    </svg></span><span class="input-check__text">Medications</span></label>
                        </div>
                    </div>
                    <div class="add-perm-templ__item">
                        <div class="input-check">
                            <input type="checkbox" name="param" id="param5" disabled="disabled">
                            <label class="input-check__label" for="param5"><span class="input-check__mark">
                                    <svg class="icon ic-check">
                                        <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                    </svg></span><span class="input-check__text">Admission related events</span></label>
                        </div>
                    </div>
                    <div class="add-perm-templ__item">
                        <div class="input-check">
                            <input type="checkbox" name="param" id="param6" disabled="disabled">
                            <label class="input-check__label" for="param6"><span class="input-check__mark">
                                    <svg class="icon ic-check">
                                        <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                    </svg></span><span class="input-check__text">1234567890123456789012345678901234567890123456789</span></label>
                        </div>
                    </div>
                    <div class="add-perm-templ__item">
                        <div class="input-check">
                            <input type="checkbox" name="param" id="param7" disabled="disabled">
                            <label class="input-check__label" for="param7"><span class="input-check__mark">
                                    <svg class="icon ic-check">
                                        <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                    </svg></span><span class="input-check__text">Labs in Hospital &amp; Clinics</span></label>
                        </div>
                    </div>
                    <div class="add-perm-templ__item">
                        <div class="input-check">
                            <input type="checkbox" name="param" id="param8" disabled="disabled">
                            <label class="input-check__label" for="param8"><span class="input-check__mark">
                                    <svg class="icon ic-check">
                                        <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                    </svg></span><span class="input-check__text">Medication and Drugs - All</span></label>
                        </div>
                    </div>
                    <div class="add-perm-templ__item">
                        <div class="input-check">
                            <input type="checkbox" name="param" id="param9" disabled="disabled">
                            <label class="input-check__label" for="param9"><span class="input-check__mark">
                                    <svg class="icon ic-check">
                                        <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                    </svg></span><span class="input-check__text">Oncology Events (inc. Medications)</span></label>
                        </div>
                    </div>
                    <div class="add-perm-templ__item">
                        <div class="input-check">
                            <input type="checkbox" name="param" id="param10" disabled="disabled">
                            <label class="input-check__label" for="param10"><span class="input-check__mark">
                                    <svg class="icon ic-check">
                                        <use xlink:href="/assets/sprites/sprite.svg#ic-check"></use>
                                    </svg></span><span class="input-check__text">Medications</span></label>
                        </div>
                    </div>
                </div>
                <div class="add-perm-templ__info">
                    <div class="add-perm-templ-empty">
                        <div class="add-perm-templ-empty__icon"><img src="/assets/img/hover.svg" alt=""></div>
                        <div class="add-perm-templ-empty__text"><span class="add-perm-templ-empty__accent">Hover</span> 
                            over a line to see additional event and property details
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-perm-evets">
                <div class="add-perm-evets__title">Events the user may query:</div>
                <div class="add-perm-evets__content">
                    <div class="add-perm-evets__list">
                        <div class="add-perm-evets__item">Admissions</div>
                        <div class="add-perm-evets__item">Blood Labs test - Home</div>
                        <div class="add-perm-evets__item">Diagnosis</div>
                        <div class="add-perm-evets__item">Diagnosis in Admissions</div>
                        <div class="add-perm-evets__item">Measurement - Cardiac</div>
                        <div class="add-perm-evets__item">Measurement - QOL</div>
                        <div class="add-perm-evets__item">Medication - purchase</div>
                        <div class="add-perm-evets__item">Medications administered</div>
                        <div class="add-perm-evets__item">Medications in Admissions</div>
                        <div class="add-perm-evets__item">Oncology Labs</div>
                        <div class="add-perm-evets__item">Oncology treatment</div>
                        <div class="add-perm-evets__item">Other test - Home</div>
                        <div class="add-perm-evets__item">Transfers</div>
                        <div class="add-perm-evets__item">Lorem Ipsum</div>
                        <div class="add-perm-evets__item">Lorem Ipsum is simply</div>
                        <div class="add-perm-evets__item">dummy text of the</div>
                        <div class="add-perm-evets__item">printing and typesetting</div>
                        <div class="add-perm-evets__item">industry</div>
                        <div class="add-perm-evets__item">Lorem Ipsum has been</div>
                        <div class="add-perm-evets__item">the industry's standard</div>
                        <div class="add-perm-evets__item">dummy text ever</div>
                        <div class="add-perm-evets__item">since the 1500s</div>
                        <div class="add-perm-evets__item">when an unknown printer</div>
                        <div class="add-perm-evets__item">took a galley</div>
                        <div class="add-perm-evets__item">of type and scrambled</div>
                        <div class="add-perm-evets__item">it to make</div>
                        <div class="add-perm-evets__item">a type specimen</div>
                        <div class="add-perm-evets__item">survived not</div>
                        <div class="add-perm-evets__item">only five centuries</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>