<div class="info-panel__shared" [ngClass]="{active: opened}">{{startValue ? "Shared" : "No Shared"}}
  <mdc-icon [path]="'ic-shared'" [css]="'icon ic-shared'" (click)="toggleShare()"></mdc-icon>

  <div class="info-popup">
    <form class="form-site">
      <div class="info-popup__top">
        <div class="info-popup__head-wrap"><span class="info-popup__head">File Sharing</span>
        </div>
        <div class="info-popup__close">
          <mdc-icon [path]="'ic-close-circle'" [css]="'icon ic-close-circle'" (click)="cancel()"></mdc-icon>
        </div>
      </div>


      <div class="info-popup__content">
        <div class="info-popup-switch">
          <div class="info-popup-switch__content">
            <div class="info-popup-switch__text-wrap">
              <div class="info-popup-switch__title">File is not shared.</div>
              <div class="info-popup-switch__text">When a file is shared everyone can see and use
                it.
              </div>
            </div>
          </div>
          <mdc-toggle-button name="toogle" [(ngModel)]="value" (onChange)="onValueChanged($event)"></mdc-toggle-button>
        </div>
      </div>
      <div class="info-popup__btn">
        <button class="btn btn_border btn_small" (click)="cancel()">Cancel</button>
        <button class="btn btn_small" type="submit" (click)="save()">Apply</button>
      </div>
    </form>
  </div>

</div>
