<div>
    <div class="modal-window__head">New imported file</div>
    <div (click)="cancel($event)" class="modal-window__close ic-hover">
        <mdc-icon path="ic-close"></mdc-icon>
    </div>
    <div class="form-site">
        <div class="form-site__fields">
            <div class="form-site__item">
                <div class="form-site__label">Choose File</div>
                <div class="file-upload">
                    <label class="file-upload__content">
                        <input #fileInput (change)="updateFileName($event)" type="file" accept=".csv">
                        <span class="file-upload__btn">Choose File</span><span class="file-upload__name" [ngClass]="{disable:!file}">
                            <ng-template [ngIf]="!file">
                                Select a CSV or Excel file
                            </ng-template>
                            <ng-template [ngIf]="file">
                                <div class="file-name">{{file|fileName}}</div>
                            </ng-template>
                        </span>
                    </label>
                </div>
                <div *ngIf="isFileError" class="form-site-alert">
                    <div class="form-site-alert__icon">
                        <svg class="icon ic-failure" mdcSvg="ic-failure"></svg>
                    </div>
                    <span class="form-site-alert__text">{{fileErrorMessage}}</span>
                </div>
            </div>
            <div class="form-site__item">
                <label class="form-site__label" for="name">Name</label>
                <input (change)="validateFileName()" [(ngModel)]="fileName" type="text" placeholder="Type file name">
                <span *ngIf="fileNameErrorMessage" class="form-site-alert__text">{{fileNameErrorMessage}}</span>
            </div>
            <div class="form-site__item">
                <label class="form-site__label" for="project">Environment</label>
                <md-project-combo [project]="project" (onChange)="changedProject($event)"></md-project-combo>
            </div>
            <div class="form-site__item">
                <label class="form-site__label">Make this a shared file</label>
                <div class="form-site__shared">
                    <span class="form-site__shared-notice">
                        <span [hidden]="fileType" class="form-site__shared-text">
                            When file is shared everyone can see and use it.
                        </span>
                        <span [hidden]="!fileType" class="form-site__shared-text">
                            <svg class="icon ic-shared ic-grey" mdcSvg="ic-shared"></svg>
                            File is shared now. It can be viewed and used by everyone.
                        </span>
                    </span>
                    <div class="switch">
                        <mdc-toggle-button (change)="resetTemplate()" no="No" yes="Yes" [(ngModel)]="fileType">
                        </mdc-toggle-button>
                    </div>
                </div>
            </div>
            <div [hidden]="!fileType" class="form-site__item">
                <label class="form-site__label" for="template">Permission Template
                    <span class="form-site__info">
                        <svg class="icon ic-info" mdcSvg="ic-info"></svg>
                        <span class="tooltip"><span class="tooltip__content">Tooltip</span></span>
                    </span>
                    <span class="form-site__optional">Optional</span>
                </label>
                <mdc-select #templateSelector placeholder="Select Permission Template..." [(ngModel)]="template"
                    maxHeight="150px" [selectUp]="true" (changed)="changedTemplate($event)" [options]="templates">
                </mdc-select>
            </div>
        </div>
        <div class="form-site__btn">
            <button (click)="cancel($event)" class="btn btn_border">Cancel</button>
            <button (click)="uploadFile($event)" [disabled]="!isValid" [ngClass]="{'btn_disable':!isValid}"
                class="btn">Upload</button>
        </div>
    </div>
</div>
