<mdc-popup #popupMenu [closeOnClick]="true">
    <mdc-modal-menu [sublinks]="sublinks" [links]="links"></mdc-modal-menu>
</mdc-popup>
<mdc-popup #popupFilter (onClose)="onCloseFilter()" [closeOnClick]="false">
    <mdc-check-box-list #checkFilter (apply)="applyFilter()" (cancel)="cancelFilter()" [options]="filterOptions"></mdc-check-box-list>
</mdc-popup>
<div class="wrapper">
    <div class="shadow-site"></div>
    <main>
        <md-page-title>Imported files</md-page-title>
        <md-page-body>
            <div class="admin-table-wrap__action">
                <div class="admin-table-wrap__col">
                    <mdc-button (click)="showUploadFile=!showUploadFile" text="+ {{'NewFile'|translate}}">
                    </mdc-button>
                </div>
                <div class="admin-table-wrap__col">
                    <div class="tabs-page">
                        <mdc-tabs [active]="tabActive" [tabs]="tabs" (select)="selectTab($event)">
                        </mdc-tabs>
                    </div>
                    <form class="form-search d-none d-md-block">
                        <mdc-auto-search pause="500" #search placeholder="{{'search'|translate}}"
                            (complite)="searchComplite($event)"></mdc-auto-search>
                    </form>
                </div>
            </div>
            <mdc-table #table (onFilter)="showFilter($event)" [cellsTemplate]="{ insertDate:dateColumn,shared:sharedColumn,editColumn:edit}"
                [searchOptions]="searchOptions" [paginator]="paginator" [search]="search" [dataSource]="dataSource">
            </mdc-table>
            <div class="pager-wrap">
                <mdc-paginator #paginator paginationTitle="{{'paginationTitle'|translate}}"
                    noPagingTitle="Showing {0} files" [blockSize]="3" [pageSize]="50" [currentPage]="0">
                </mdc-paginator>
            </div>
        </md-page-body>
    </main>
</div>
<mdc-modal-window [hidden]="!showUploadFile">
    <md-upload-file (onUpload)="showUploadFile=false" (onCancel)="showUploadFile=false"></md-upload-file>
</mdc-modal-window>
<ng-template #dateColumn let-item>
    {{item.insertDate|date}}
</ng-template>
<ng-template #sharedColumn let-item>
    <div *ngIf="item.shared"><mdc-icon path="ic-shared"></mdc-icon></div>
</ng-template>
<ng-template #edit let-item let-src="source">
    <span (click)="editClick(item,src,$event)" class="admin-table-action__menu ic-hover">
        <mdc-icon path="ic-dot-menu"></mdc-icon>
    </span>
</ng-template>