<md-page-title>
    <div class="page-header__content">
        <h1>Imported files</h1>
    </div>
</md-page-title>
<md-page-body>
    <div [hidden]="isLoaded">Loading...</div>
    <div [hidden]="!isLoaded" class="admin-table-wrap__action">
        <div class="admin-table-wrap__col">
            <mdc-button className="btn_icon" (click)="openFileUpload()" text="+ {{'NewFile'|translate}}">
            </mdc-button>
        </div>
        <div mdAnimationSticky [hidden]="!isDataExists" class="admin-table-wrap__col">
            <div class="tabs-page">
                <mdc-date-filter #dateFilter (onSelect)="onSelectTab($event)" (onFilter)="dateFilterData($event)" [dataSource]="fileSource"
                    [items]="dateRanges"></mdc-date-filter>
            </div>
            <div class="form-search d-none d-md-block">
                <mdc-auto-search [pause]="500" #search placeholder="{{'search'|translate}}"></mdc-auto-search>
            </div>
        </div>
    </div>
    <div [hidden]="!isDataExists || !isLoaded">
        <mdc-table #table (onAction)="onAction($event)" [emptyState]="emptyState"
            [cellsTemplate]="{ insertDate:dateColumn,shared:sharedColumn}" [searchOptions]="searchOptions"
            [paginator]="paginator" [search]="search" [dataSource]="dataSource">
        </mdc-table>
    </div>
    <mdc-empty-state *ngIf="!isDataExists && isLoaded" [emptyState]="emptyState"></mdc-empty-state>
    <div class="pager-wrap" [hidden]="!isLoaded">
        <mdc-paginator #paginator paginationTitle="{{'paginationTitle'|translate}}" noPagingTitle="Showing {0} files"
            [blockSize]="3" [pageSize]="12" [currentPage]="0">
        </mdc-paginator>
    </div>
</md-page-body>

<ng-template #dateColumn let-item>
    <div [stickyToElement]="true" position="right" [mdcTooltip]="(item.insertDate|date) + ' ' + (item.insertDate|date:'HH:mm')">{{item.insertDate|date}}
    </div>
</ng-template>

<ng-template #sharedColumn let-item>
    <span *ngIf="item.shared" class="admin-table__icon">
        <svg class="icon ic-shared ic-grey" mdcSvg="ic-shared"></svg>
    </span>
</ng-template>

<mdc-modal-window *ngIf="showUploadFile">
    <md-upload-file [targetComponent]="me" (onLoad)="onLoadFileUpload($event)" (onUpload)="showUploadFile=false"
        (onCancel)="showUploadFile=false">
    </md-upload-file>
</mdc-modal-window>
