<div class="category-info" (mouseover)="isOver=true" (mouseleave)="isOver=false">
    <div class="admin-table-info__top">
        <div class="admin-table-info__head">Details</div>
        <div class="admin-table-info__icons">
            <span (click)="download()" class="ic-hover">
                <svg mdcSvg="ic-download"></svg>
            </span>
            <span (click)="closeInfo()" class="ic-hover">
                <svg width="12" height="12" mdcSvg="ic-close"></svg>
            </span>
        </div>
    </div>
    <div class="admin-table-info__content">
        <div *ngIf="category?.hierarchyFile" class="admin-table-info__item">
            <div class="admin-table-info__title">File Name:</div>
            <div class="admin-table-info__val"><span class="admin-table-info__name">{{category?.hierarchyFile}}</span>
            </div>
        </div>
        <div *ngIf="category?.insertDate" class="admin-table-info__item">
            <div class="admin-table-info__title">Last Modified:</div>
            <div class="admin-table-info__val">{{category?.insertDate|date}}&nbsp;{{category?.insertDate|date:'HH:mm'}}</div>
        </div>
        <div *ngIf="category?.description" class="admin-table-info__item">
            <div class="admin-table-info__title">Description:</div>
            <div class="admin-table-info__val">
                {{category?.description}}
            </div>
        </div>
        <div *ngIf="!category.hierarchyChange && category.hierarchyLoadingType==='etl'" class="admin-table-info__item">
            <div class="admin-table-info__title">State:</div>
            <div class="admin-table-info__val">
                <div class="admin-table-info__ic">
                    <mdc-icon path="ic-robot"></mdc-icon>
                </div>Auto-Update Hierarchy
            </div>
        </div>
        <div *ngIf="category?.siteEventPropertyInfos?.length" class="admin-table-info__item">
            <div class="admin-table-info__title">Used in:</div>
            <div class="admin-table-info__val">
                <div class="admin-table-info__ic">
                    <mdc-icon path="ic-plug"></mdc-icon>
                </div>
                <ng-container *ngFor="let info of category.siteEventPropertyInfos;let i=index;">
                    {{info.eventPropertyName}}
                    <ng-container *ngIf="i<category.siteEventPropertyInfos.length-1">,</ng-container>
                </ng-container>
            </div>
        </div>
        <div *ngIf="category?.project?.projectName" class="admin-table-info__item">
            <div class="admin-table-info__title">Environment:</div>
            <div class="admin-table-info__val">{{category?.project?.projectName}}</div>
        </div>
        <div *ngIf="defaultLevel?.hierarchyLevelName" class="admin-table-info__item">
            <div class="admin-table-info__title">Default Category:</div>
            <div class="admin-table-info__val">{{defaultLevel?.hierarchyLevelName}}</div>
        </div>
    </div>
</div>