<div class="category-info" (mouseover)="isOver=true" (mouseleave)="isOver=false">
    <div class="admin-table-info__top">
        <div class="admin-table-info__head">Details</div>
        <div class="admin-table-info__icons">
            <span class="ic-hover">
              <a href="{{downloadUrl}}{{category.hierarchyRootId}}">
                <svg mdcSvg="ic-download"></svg>
              </a>
            </span>
            <span (click)="closeInfo()" class="ic-hover">
                <svg width="12" height="12" mdcSvg="ic-close"></svg>
            </span>
        </div>
    </div>
    <div class="admin-table-info__content">
        <div class="admin-table-info__item">
            <div class="admin-table-info__title">File Name:</div>
            <div class="admin-table-info__val"><span class="admin-table-info__name">{{category?.hierarchyFile}}</span>
            </div>
        </div>
        <div class="admin-table-info__item">
            <div class="admin-table-info__title">Last Modified:</div>
            <div class="admin-table-info__val">{{category?.insertDate|date}}</div>
        </div>
        <div class="admin-table-info__item">
            <div class="admin-table-info__title">Description:</div>
            <div class="admin-table-info__val">
                {{category?.description}}
            </div>
        </div>
        <div class="admin-table-info__item">
            <div class="admin-table-info__title">State:</div>
            <div class="admin-table-info__val">
                <div *ngIf="category?.hierarchyChange" class="admin-table-info__ic">
                    <mdc-icon path="ic-warning"></mdc-icon>
                </div>
              <div *ngIf="!category?.hierarchyChange && (category?.hierarchyLoadingType && category?.hierarchyLoadingType !== 'manual')" class="admin-table-info__ic">
                    <mdc-icon path="ic-robot"></mdc-icon> Auto-Update Hierarchy
                </div>
            </div>
        </div>
        <div class="admin-table-info__item">
            <div class="admin-table-info__title">Used in:</div>
            <div class="admin-table-info__val">
                <div class="admin-table-info__ic">
                    <mdc-icon path="ic-plug"></mdc-icon>
                </div>Diagnosis, Admission Diagnosis, Procedures, Customised events
            </div>
        </div>
        <div class="admin-table-info__item">
            <div class="admin-table-info__title">Environment:</div>
            <div class="admin-table-info__val">{{category?.project.projectName}}</div>
        </div>
        <div class="admin-table-info__item">
            <div class="admin-table-info__title">Default Category:</div>
            <div class="admin-table-info__val">ATC1</div>
        </div>
    </div>
</div>
