<md-chart-wraper firstTitle="New Queries per user" secondTitle="Downloads per user" [firstChart]="firstChart"
    [secondChart]="secondChart">
</md-chart-wraper>

<ng-template #firstChart>
    <ngx-charts-line-chart [results]="(responseData|async|userActivityChart).query" [animations]="true" [xAxis]="true"
        [yAxis]="true" [showGridLines]="true" [showXAxisLabel]="true">
    </ngx-charts-line-chart>
</ng-template>

<ng-template #secondChart>
    <ngx-charts-line-chart [results]="(responseData|async|userActivityChart).download" [xAxis]="true" [yAxis]="true"
        [showGridLines]="true" [showXAxisLabel]="true">
    </ngx-charts-line-chart>
</ng-template>