<section class="admin-table-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <table class="admin-table admin-table_white">
                    <thead>
                        <tr class="admin-table__head">
                            <th class="admin-table__item">
                                <!-- <span class="admin-table__sort">
                                    <span class="admin-table__sort-up"></span>
                                    <span class="admin-table__sort-down"></span>
                                </span> -->
                                New Category Name
                            </th>
                            <th class="admin-table__item d-none d-md-table-cell">
                                Matched Category in Old Categorazation
                            </th>
                            <th class="admin-table__item d-none d-lg-table-cell">
                                Data Sample
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="categoryMap">
                        <tr class="admin-table__row" *ngFor="let item of oldCategories;let index=index">
                            <td class="admin-table__item">
                                <div class="admin-table__name-edit">
                                    <!-- <input type="text" [(ngModel)]="item.hierarchyLevelName"/> -->
                                    {{item.hierarchyLevelName}}
                                </div>
                            </td>
                            <td class="admin-table__item d-none d-md-table-cell">
                                <div class="select-wrap">
                                    <div class="select select_small select_full"
                                        [ngClass]="{'error':item.oldCategory===noMatchCategory}">
                                        <div (click)="selectItem($event,item,index)" class="select__head">
                                            {{item.oldCategory.hierarchyLevelName}}
                                            <div class="select__head-arr">
                                                <svg class="icon ic-select-arr-down" mdcSvg="ic-select-arr-down"></svg>
                                            </div>
                                        </div>
                                        <div id="select_{{index}}" [mdcVisibility]="selectedItem===item"
                                            class="select__option">
                                            <ng-container *ngFor="let i of categoryMap">
                                                <!-- <div *ngIf="!i.inUse || (i === newCategoryDefault && newCategoryDefault !== item.oldCategory)" (click)="changeOldCategory(i,item)" class="select__param">
                                                {{i.hierarchyLevelName}}
                                                 </div> -->
                                                <div *ngIf="i.sortValue!==-2 && i.sortValue!==-1  && (!i.inUse || (i === newCategoryDefault && newCategoryDefault !== item.oldCategory))"
                                                    (click)="changeOldCategory(i,item)" class="select__param">
                                                    {{i.hierarchyLevelName}}
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div [hidden]="!(item.oldCategory===noMatchCategory && saveClicked)"
                                            class="tooltip tooltip_left tooltip_red">
                                            <span class="tooltip__content">Missing Category</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="admin-table__item d-none d-lg-table-cell">
                                <!-- <div class="admin-table__data-sample">
                                    {{item.newCategory.dataSample|replace:'%sep%':','}}
                                </div> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <md-category-message [notInUse]="notInUse" [oldNewDifCount]="oldNewDifCount"
                    (onUpdateMessage)="onUpdateMessage($event)"></md-category-message>
            </div>
        </div>
    </div>
</section>