<div style="margin: 20px;" *ngIf="userEditService.isLoading || userEditService.isHidden">Loading...</div>
<div [hidden]="userEditService.isHidden" class="main-content">
    <div *ngIf="!userEditService.isLoading" class="content-page">
        <md-header [pageTitle]="pageTitle"></md-header>
        <section class="user-details-wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="user-details">
                            <md-tabs (onSelect)="selectNextTab($event)" [selectedTab]="userEditService.selectedTab"
                                [tabs]="tabs"></md-tabs>
                            <md-edit-user-general [hidden]="userEditService.selectedTab!==0"></md-edit-user-general>
                            <md-edit-permission-set [hidden]="userEditService.selectedTab!==1"></md-edit-permission-set>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<md-footer [isLastTab]="isLastTab" [isSingleMode]="userEditService.mode" *ngIf="!userEditService.isLoading" [hidden]="userEditService.isHidden" (onOptionClick)="save()"
    [isNextEnable]="isNextEnable" [isSaveEnable]="isSaveEnable" (onCancel)="cancel()" (onNext)="next($event)"
    (onSave)="save()" (onOptionClick)="optionClick($event)" [btnOptions]="btnOptions"></md-footer>

<md-confirm-dialog *ngIf="showChangesConfirm" confirmText="Yes" cancelText="No, stay on page" name="Leaving User Page"
    subName="Changes you made will be lost." subText="Do you wish to leave the page?" text=""
    (onCancel)="cancelChanges()" (onConfirm)="confirmChanges()">
</md-confirm-dialog>