.rule-build__more-plus .ic-plus {
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    fill: #0596ff;
}
.add-perm-set__content-wrap{
    overflow-y: initial !important;
}