<div class="add-perm-set__content-wrap">
    <div class="add-perm-set__content">
        <div class="add-perm-set__head">Allowed Cohort</div>
        <div class="add-perm-set__text">Define conditions to set the user's allowed cohort. Patients that meet at least
            one of the conditions can be included in the cohort.</div>
        <div class="rule-build">
            <div class="rule-build__list">
                <ng-container *ngFor="let item of permissionSetService.permissionSet.roleItems">
                    <md-rule-item [roleItem]="item" (onRemove)="remove($event)"></md-rule-item>
                </ng-container>
            </div>
            <div class="rule-build__more">
                <span class="pointer" (click)="add()">
                    <span class="rule-build__more-plus">
                        <svg class="icon ic-plus" mdcSvg="ic-plus"></svg></span>
                    Filter
                </span>
            </div>
        </div>
    </div>
</div>