<md-user-time-activity (onSelect)="changeCurrentAcitity($event)" [current]="currentActivity"
    [buttons]="activityButtons"></md-user-time-activity>

<md-chart-wraper firstTitle="New Queries" secondTitle="File Downloads" [firstChart]="firstChart"
    [secondChart]="secondChart">
</md-chart-wraper>

<ng-template #firstChart>
    <ngx-charts-bar-horizontal [view]="view" [scheme]="colorScheme" [results]="(responseData|async|userTop10Chart).query"
        [xAxis]="false" [yAxis]="true" [showXAxisLabel]="true"
        [showYAxisLabel]="true"  [legend]="false"
        [showDataLabel]="true">
    </ngx-charts-bar-horizontal>
</ng-template>

<ng-template #secondChart>
    <ngx-charts-bar-horizontal-stacked [view]="view" [scheme]="colorSchemeDownload"
        [results]="(responseData|async|monthlyChart).download" [gradient]="gradient" [xAxis]="false"
        [yAxis]="true" [showXAxisLabel]="false" [showYAxisLabel]="true" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [legend]="false" [showDataLabel]="true">
    </ngx-charts-bar-horizontal-stacked>
    <div class="legend">
        <div class="legend-cnt">
            <div class="original"></div>
            <div>Original Files</div>
        </div>
        <div class="legend-cnt">
            <div class="synthetic"></div>
            <div>Synthetic Files</div>
        </div>
    </div>
</ng-template>