<div class="add-perm-set__content-wrap">
    <div class="add-perm-set__content">
        <div class="add-perm-set-main">
            <div *ngIf="!permissionSetService.isEditMode" class="add-perm-set-main__content">
                <div class="add-perm-set-main__item">
                    <div class="input-radio">
                        <input (change)="changeIsNew(true)" [checked]="permissionSetService.permissionSet.isNew"
                            id="isnew1" type="radio">
                        <label class="input-radio__label" for="isnew1">
                            <span class="input-radio__mark"></span>
                            <span class="input-radio__text">
                                New Permission Set
                            </span>
                        </label>
                    </div>
                </div>
                <div class="add-perm-set-main__item">
                    <div class="input-radio">
                        <input (change)="changeIsNew(false)" id="isnew2" type="radio"
                            [checked]="!permissionSetService.permissionSet.isNew">
                        <label class="input-radio__label" for="isnew2"><span class="input-radio__mark"></span>
                            <span class="input-radio__text">
                                New from exsiting set:
                            </span>
                        </label>
                    </div>
                    <mdc-auto-complete #setselectorCmp placeHolder="Search or Select a Permission Set..."
                        textField="name" (onSelect)="selectResearcher($event)"
                        (completeMethod)="completeResearcher($event)" [suggestions]="researchers"
                        [disabled]="this.permissionSetService.permissionSet.isNew">
                        <ng-template let-item>
                            <div class="select__param" [text]="item.name" [mdcColorText]="searchResearchText"></div>
                        </ng-template>
                    </mdc-auto-complete>
                </div>
            </div>
            <div *ngIf="permissionSetService.isEditMode" class="add-perm-set-main__content">
                {{permissionSetService.permissionSet.setFullName}}
            </div>
            <div class="add-perm-set-main__switch">
                <div class="add-perm-set-main__label">Active</div>
                <mdc-toggle-button (onChange)="activateSet($event)" yes="On" no="Off"
                    [(ngModel)]="permissionSetService.permissionSet.isActive">
                </mdc-toggle-button>
            </div>
        </div>
        <div class="add-perm-sect">
            <div class="add-perm-sect__content">
                <div class="add-perm-sect__item">
                    <div class="add-perm-sect__title">
                        <span [hidden]="isPopup" class="add-perm-sect__title-text">Username:</span>
                        <span [hidden]="!isPopup" class="add-perm-sect__title-text">Environment:</span>
                    </div>
                    <div class="add-perm-sect__fields">
                        <div [hidden]="isPopup" [ngClass]="{'ps-empty':permissionSetService.isUserEmpty}"
                            class="add-perm-sect__select ps-empty">
                            <mdc-auto-complete #userNameCmp placeHolder="Search or Select a User Name..."
                                textField="name" (onSelect)="selectUser($event)" (onClear)="clearUser()"
                                (completeMethod)="completeUsers($event)" [suggestions]="users">
                                <ng-template let-item>
                                    <div class="select__param" [text]="item.name" [mdcColorText]="searchUserText"></div>
                                </ng-template>
                            </mdc-auto-complete>
                        </div>
                        <div class="add-perm-sect__select">
                            <div [hidden]="isPopup" class="add-perm-sect__label">Environment:</div>
                            <md-project-combo #projectCmp [isInvalid]="permissionSetService.isProjectEmpty"
                                [isSmall]="true" [selectUp]="false" [user]="permissionSetService.user"
                                [project]="permissionSetService.permissionSet.project"
                                (onChange)="changedProject($event)">
                            </md-project-combo>
                        </div>
                    </div>
                </div>
                <div class="add-perm-sect__item">
                    <div class="add-perm-sect__title"><span class="add-perm-sect__title-text">Set Name:</span></div>
                    <div class="add-perm-sect__fields">
                        <div class="add-perm-sect__input add-perm-sect__input_full">
                            <input [ngClass]="{'ps-empty':permissionSetService.isSetNameEmpty}" type="text"
                                [(ngModel)]="permissionSetService.permissionSet.setName">
                        </div>
                    </div>
                </div>
                <div class="add-perm-sect__item">
                    <div class="add-perm-sect__title"><span class="add-perm-sect__title-text">Description</span><span
                            class="add-perm-sect__opt">Optional</span></div>
                    <div class="add-perm-sect__fields">
                        <div class="add-perm-sect__input add-perm-sect__input_full">
                            <input type="text" [(ngModel)]="permissionSetService.permissionSet.setDescription">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-perm-sect">
            <div class="add-perm-sect__head">Cohort limitations</div>
            <div class="add-perm-sect__content">
                <div class="add-perm-sect__item">
                    <div class="add-perm-sect__title">
                        <span class="add-perm-sect__title-text">Size:</span>
                        <span [pTooltip]="'The maximum number of patients allowed in a cohort.'">
                            <svg class="icon ic-info" mdcSvg="ic-info">
                            </svg>
                        </span>
                    </div>
                    <div class="add-perm-sect__fields">
                        <mdc-input-number [max]="permissionSetService.maxSize" [isValid]="isValidSize"
                            (onValueChanged)="onSizeChanged($event)"
                            [(ngModel)]="permissionSetService.permissionSet.size"></mdc-input-number>
                        <div style="margin-left: 10px;" class="add-perm-sect__text">Patients</div>
                    </div>
                </div>
                <div class="add-perm-sect__item">
                    <div class="add-perm-sect__title"><span class="add-perm-sect__title-text">Date Range:</span>
                        <span [pTooltip]="'Only events that occurred during this time-frame can be queried.'">
                            <svg class="icon ic-info" mdcSvg="ic-info"></svg>
                        </span>
                    </div>
                    <div class="add-perm-sect__fields">
                        <mdc-date-picker (onSelect)="validate()"
                            [disabled]="permissionSetService.permissionSet.fromDateUnlimited"
                            [(ngModel)]="permissionSetService.permissionSet.fromDate"></mdc-date-picker>
                        <div style="margin-top: 6px;margin-left:10px;margin-right:10px">
                            <mdc-check-box (change)="changeFromUnlimited($event)"
                                [(ngModel)]="permissionSetService.permissionSet.fromDateUnlimited" text="Unlimited">
                            </mdc-check-box>
                        </div>
                        <div class="add-perm-sect__label">to:</div>
                        <mdc-date-picker (onSelect)="validate()"
                            [disabled]="permissionSetService.permissionSet.toDateUnlimited"
                            [(ngModel)]="permissionSetService.permissionSet.toDate"></mdc-date-picker>
                        <div style="margin-top: 6px;margin-left:10px;margin-right:10px">
                            <mdc-check-box (change)="changeToUnlimited($event)"
                                [(ngModel)]="permissionSetService.permissionSet.toDateUnlimited" text="Unlimited">
                            </mdc-check-box>
                        </div>
                    </div>
                </div>
                <div [hidden]="permissionSetService.isDateRangeValid" class="date-error">
                    <img src="./assets/images/error3.png">
                    The 'From' date must be earlier than the 'To' date
                </div>
            </div>
        </div>
        <div class="add-perm-sect">
            <div class="add-perm-sect__head">Approval Key Details
                <span style="text-transform: none !important;" class="add-perm-sect__opt">Optional</span>
            </div>
            <div class="add-perm-sect__content">
                <div class="add-perm-sect__item">
                    <div class="add-perm-sect__title"><span class="add-perm-sect__title-text">Key Name:</span></div>
                    <div class="add-perm-sect__fields">
                        <div class="add-perm-sect__input">
                            <input (blur)="validate()" type="text"
                                [(ngModel)]="permissionSetService.permissionSet.keyName">
                        </div>
                        <div class="add-perm-sect__label">Expiration Date:</div>
                        <mdc-date-picker (onSelect)="validate()"
                            [(ngModel)]="permissionSetService.permissionSet.keyExpirationDate">
                        </mdc-date-picker>
                        <div class="add-perm-sect__label ps-warning">
                            <svg width="20" height="20" color="#b00" *ngIf="permissionSetService.showWarning"
                                mdcSvg="ic-failure">
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<md-confirm-dialog *ngIf="isShowChangeEnvironmentConfirm" confirmText="Yes" cancelText="No" name="Change Environment"
    subName="Changing environment will remove all allowed events that are already defined in this set."
    subText="Do you wish to continue?" text="" (onCancel)="cancelChangeProject()" (onConfirm)="confirmChangeProject()">
</md-confirm-dialog>