<div class="add-perm-set__content-wrap">
    <div class="add-perm-set__content">
        <div class="add-perm-set-main">
            <div class="add-perm-set-main__content">
                <div class="add-perm-set-main__item">
                    <div class="input-radio">
                        <input (change)="changeIsNew()" [value]="true"
                            [(ngModel)]="permissionSetService.permissionSet.isNew" id="param1" type="radio"
                            name="addset">
                        <label class="input-radio__label" for="param1"><span class="input-radio__mark"></span><span
                                class="input-radio__text">New Permission
                                Set</span></label>
                    </div>
                </div>
                <div class="add-perm-set-main__item">
                    <div class="input-radio">
                        <input (change)="changeIsNew()" id="param2" type="radio" name="addset" [value]="false"
                            [(ngModel)]="permissionSetService.permissionSet.isNew">
                        <label class="input-radio__label" for="param2"><span class="input-radio__mark"></span><span
                                class="input-radio__text">New from exsiting
                                set:</span></label>
                    </div>
                    <mdc-auto-complete placeHolder="Search or Select a Permission Set..." textField="name"
                        (onSelect)="selectResearcher($event)" (completeMethod)="completeResearcher($event)"
                        [suggestions]="researchers" [disabled]="this.permissionSetService.permissionSet.isNew">
                        <ng-template let-item>
                            <div class="select__param" [text]="item.name" [mdcColorText]="searchResearchText"></div>
                        </ng-template>
                    </mdc-auto-complete>
                </div>
            </div>
            <div class="add-perm-set-main__switch">
                <div class="add-perm-set-main__label">Active</div>
                <mdc-toggle-button yes="On" no="Off" [(ngModel)]="permissionSetService.permissionSet.isActive">
                </mdc-toggle-button>
            </div>
        </div>
        <div class="add-perm-sect">
            <div class="add-perm-sect__content">
                <div class="add-perm-sect__item">
                    <div class="add-perm-sect__title"><span class="add-perm-sect__title-text">Username:</span></div>
                    <div class="add-perm-sect__fields">
                        <div class="add-perm-sect__select">
                            <mdc-auto-complete placeHolder="Search or Select a User Name..." textField="name"
                                (onSelect)="selectUser($event)" (completeMethod)="completeUsers($event)"
                                [suggestions]="users">
                                <ng-template let-item>
                                    <div class="select__param" [text]="item.name" [mdcColorText]="searchUserText"></div>
                                </ng-template>
                            </mdc-auto-complete>
                        </div>
                        <div class="add-perm-sect__select">
                            <div class="add-perm-sect__label">Environment:</div>
                            <md-project-combo [isSmall]="true" [project]="project" (onChange)="changedProject($event)">
                            </md-project-combo>
                        </div>
                    </div>
                </div>
                <div class="add-perm-sect__item">
                    <div class="add-perm-sect__title"><span class="add-perm-sect__title-text">Set Name:</span></div>
                    <div class="add-perm-sect__fields">
                        <div class="add-perm-sect__input add-perm-sect__input_full">
                            <input type="text" [(ngModel)]="permissionSetService.permissionSet.setName">
                        </div>
                    </div>
                </div>
                <div class="add-perm-sect__item">
                    <div class="add-perm-sect__title"><span class="add-perm-sect__title-text">Description</span><span
                            class="add-perm-sect__opt">Optional</span></div>
                    <div class="add-perm-sect__fields">
                        <div class="add-perm-sect__input add-perm-sect__input_full">
                            <input type="text" [(ngModel)]="permissionSetService.permissionSet.setDescription">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-perm-sect">
            <div class="add-perm-sect__head">Cohort limitations</div>
            <div class="add-perm-sect__content">
                <div class="add-perm-sect__item">
                    <div class="add-perm-sect__title"><span class="add-perm-sect__title-text">Size:</span>
                        <svg class="icon ic-info" mdcSvg="ic-info">
                        </svg>
                    </div>
                    <div class="add-perm-sect__fields">
                        <mdc-input-number [isValid]="isValidSize" (onValueChanged)="onSizeChanged($event)"
                            [(ngModel)]="permissionSetService.permissionSet.size"></mdc-input-number>
                        <div class="add-perm-sect__text">Patients</div>
                    </div>
                </div>
                <div class="add-perm-sect__item">
                    <div class="add-perm-sect__title"><span class="add-perm-sect__title-text">Date Range:</span>
                        <svg class="icon ic-info" mdcSvg="ic-info"></svg>
                    </div>
                    <div class="add-perm-sect__fields">

                        <mdc-date-picker></mdc-date-picker>
                        <mdc-check-box (change)="changeFromUnlimited($event)" [(ngModel)]="permissionSetService.permissionSet.fromDateUnlimited" text="Unlimited"></mdc-check-box>

                        <div class="add-perm-sect__label">to:</div>
                        <mdc-date-picker></mdc-date-picker>
                        <mdc-check-box (change)="changeToUnlimited($event)" [(ngModel)]="permissionSetService.permissionSet.toDateUnlimited" text="Unlimited"></mdc-check-box>

                    </div>
                </div>
            </div>
        </div>
        <div class="add-perm-sect">
            <div class="add-perm-sect__head">Approval Key Details</div>
            <div class="add-perm-sect__content">
                <div class="add-perm-sect__item">
                    <div class="add-perm-sect__title"><span class="add-perm-sect__title-text">Key Name:</span></div>
                    <div class="add-perm-sect__fields">
                        <div class="add-perm-sect__input">
                            <input type="text" value="D56790-66">
                        </div>
                        <div class="add-perm-sect__label">Expiration Date:</div>
                        <div class="input-date">
                            <input type="text" placeholder="dd/mm/yyyy">
                            <svg class="icon ic-calendar" mdcSvg="ic-calendar">
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>