<div class="info-popup__top">
    <div class="info-popup__head-wrap"><span class="info-popup__head">Users Shown in
            Chart</span></div>
    <div (click)="close($event)" class="info-popup__close">
        <svg class="icon ic-close-circle" mdcSvg="ic-close-circle"></svg>
    </div>
</div>
<div class="info-popup__content">
    <div class="graph-term">
        <div *ngFor="let user of users" class="graph-term__item">
            <div  [style.backgroundColor]="user.value" class="graph-term__icon">
                &nbsp;
            </div>
            <div class="graph-term__text">{{user.name}}</div>
        </div>
    </div>
</div>